[2014-11-20 20:53] Iceman68 opened #3250 "Open GL errors"
Tried to download this game, but got so many Open GL errors I had to task manager quit.

System
Windows 8.1 PC
Nvidia GTX760 (with latest drivers)

[2014-11-20 21:16] ZeframCochrane opened #3251 "GL_INVALID_VALUE (Windows 7, GTX 460)"
I get the following error over and over again and need to force-quit:

Title:Pioneer Warning
Message:
OpenGL error(s) during frame:
GL_INVALID_VALUE

GPU: Nvidia GTX 460 with updated drivers. Should support up to OpenGL 4.5
Windows 7 64 bit

****************\* OpenGL.txt: ***************************

OpenGL version 3.2.0 NVIDIA 344.75, running on NVIDIA Corporation GeForce GTX 460/PCIe/SSE2
GLEW v

[2014-11-21 20:41] jeremysanders opened #3255 "Failed to set video mode: Could not create GL context"
Sorry if this has been reported before. I'm using Ubuntu 14.04 (Trusty) on x86 with a Radeon HD 4650 (RV730 PRO; native, not AMD/ATI drivers). When I start the program I just get (with a dialog box giving the error)

[jss@serv pioneer-20141120-linux32]$ ./pioneer
ver 20141120 (06abf8d) on: Linux

System Name: Linux
Host Name: jss-desktop
Release(Kernel) Version: 3.13.0-39-generic
Kernel Build Time

[2014-11-22 10:56] #3250 closed, assigned to fluffyfreak

[2014-11-24 17:38] haxys opened #3259 "Crash on startup [OSX]"
I compiled build 2cdefef and now the game crashes when I try to start it, with the following error:

[code]

[2014-11-25 09:00] #3259 closed, assigned to nobody

[2014-11-25 09:01] #3241 closed, assigned to nobody

[2014-11-25 17:38] #3209 closed, assigned to nobody

[2014-11-25 18:06] raftakis opened #3262 "GL_INVALID_VALUE (Linux Mint Debian , GTX 650)"
Game does not start.
I use NVIDIA DRVERS 340.58

I get this output (debug mode)

[code]

[2014-11-27 12:32] #3251 closed, assigned to fluffyfreak

[2014-11-27 12:50] #3247 closed, assigned to impaktor

[2014-11-27 15:25] #3262 closed, assigned to fluffyfreak

[2014-12-04 16:54] #2884 closed, assigned to nobody

[2014-12-05 19:52] #1857 closed, assigned to nobody

[2014-12-07 04:26] CmdrBugbear opened #3270 "Pioneer compilation instructions"
This may just be me, but I lost an hour trying to get VS2013 to compile Pioneer.
I was getting a 'Could not find SDL_stinc.h' error.
After re-reading the instructions, I realised that I hadn't downloaded the pioneer-thirdparty package, so I downloaded and stored alongside the pioneer-master directory.
It's a simple thing but I was getting caught out by the fact that the downloaded and extracted di

[2014-12-08 14:28] Reaper42 opened #3271 "No audio. Debian 7 sdl1.2"
Debian 7
SDL 1.2
ALSA

log:

It is time change distributive?

[2014-12-10 20:23] #3255 closed, assigned to fluffyfreak

[2014-12-20 21:48] McConn75 opened #3275 "Failed to set Video mode: Could not create GL context"
Hi all.

The issue mentioned by the headline occured while trying to start pioneer.exe version 20141219-win32.
Got an older version (201309.33-win32) which is running.

My PC:
Win 7 64
AMD FX 6100 (6 cores, 3.3 GHz), 8 GB
GeForce GTX 560 Ti, 4 GB
DirectX 11

Any hints how to solve it aside: take the running version ? :)

Regards
McConn75

[2014-12-22 16:09] twohandsgaz opened #3277 "Crash on load"
I am using ver 20141219-win32 on a Win 7 64 bit pc.

The program runs and starts to load, gets to universe evolution of 6.8 billion years and then crashes.

The same happens with ver 20141217-win32

I understand this is a win32 program and i have a 64 bit pc so my first question is. Should this work at all?

[2014-12-22 18:28] twohandsgaz opened #3278 "GLloadgen failed to load functions"
ver 20141219-win32 on a Win7 32 bit laptop
try to run pioneer.exe, get the following
glloadgen failed to load functions

my graphics card is an intel gma4500m with the latest drivers installed.

[2014-12-22 19:20] #3278 closed, assigned to nobody

[2014-12-22 19:21] #3277 closed, assigned to nobody

[2014-12-23 11:30] #3270 closed, assigned to nobody

[2014-12-25 03:58] jfacoustic opened #3280 "Pioneer doesn't start on OSX Yosemite or Win7"
Both graphics cards claim to support openGL 3.3 and have the latest drivers.  For the mac, I click the application and it bounces for a little bit, then disappears.  I've tried the version that the FAQ mentions and it keeps freezing.  For the windows, it opens, but get's stuck in the loading screen.  Anything I'm doing wrong?  Permissions issue possibly?  Thanks.

[2014-12-26 12:09] bszlrd opened #3282 "Custom decals/labels for station pad numbering, adverts, etc."
I was thinking about how I will put pad numbering and a bunch of other thing on the remodeled station (I made good progress the past few days).

Is it possible to have something like custom decals (with similar alpha support) for these kind of things?

Labels could also be used for pad designation, but they are less flexible when it comes to typesetting and other visual things.

Edit: and option f

[2014-12-26 12:25] bszlrd opened #3283 "Advanced billboard lights. Blinking frequency and delay."
Also for the new orbital station:
How complex would it be, if the modeler could set up different blinking patterns for billboard lights?

An example: there's a ring of lights around the landing pads. Every second one always on, the other ones are blinking at a speed. There's a second ring further out, where they blinking faster.
This could also provide a way to have running lights, along the desir

[2014-12-27 12:07] impaktor opened #3284 "ChatForm a vertical space wanted"
This has been bugging me for quite some time: I'd like an extra vertical space where the pointer indicates in the attached images, perhaps of equivalent size of one of those check boxes.

Ping @radius75 seems to know the way around `ui/StationView/ChatForm.lua`

(I would really love some documentation on the lua UI stuff.)

_Also, first screenshot is a little treat of what is to come_
![screenshot

[2014-12-28 21:23] bszlrd opened #3286 "Is there a collision mesh size limit?"
I'm working on the new station's collision mesh right now, and it's giving me a problem.
When I go over about 21 800 tris, or 2mb with it, the game starts to put in triangles on it's own account:
![modelviewer-20141228-214407](https://cloud.githubusercontent.com/assets/4182678/5564942/5018e7fa-8edb-11e4-9e3d-fb9a7615f30c.png)
That single diagonal line towards the center, and there are some other o

[2014-12-29 12:27] laarmen opened #3287 "Planet Scanner equipment type (ideal for newcomers)"
This is a feature asked for by @impaktor. I was supposed to write it, but it occurs to me that it would be a nice way to start contributing to Pioneer. I have ironed out a specification document, and I would of course be willing to mentor anyone interested.

Here's a quick dump of the specs (it was written quickly on a PiratePad, so it lacks a bit structure.)

Design document for the scout thingy.

[2014-12-29 14:00] bszlrd opened #3290 "Docking locators go bananas on the new station"
I'm playing around with the docking locators right now. @impaktor noticed that the malabar doesn't get landing clearance on the station.
At first I thought the game thinks it's larger then the 100m limit I give to the big pads, so I've upped them to 500m, without any effect.
They are set up this way:
there's a port entrance and exit for each area, p04 is for the large docks. I've made it so the po

[2014-12-29 14:25] #3234 closed, assigned to fluffyfreak

[2014-12-29 14:29] #3286 closed, assigned to nobody

[2014-12-29 16:26] fluffyfreak opened #3292 "Crash when viewing ship in ShipMarket"
Is the exact error but I have no idea what it means.

@impaktor or @laarmen you guys have any idea?

To reproduce this I just started a new game on Earth, went to the ship market and clicked on a `Kanara`. Nothing else.

[2014-12-29 16:27] #3290 closed, assigned to fluffyfreak

[2014-12-29 17:53] #3292 closed, assigned to impaktor

[2014-12-30 15:50] fluffyfreak opened #3296 "Performance, low-FPS"
I have started a [post on the Pioneer Developers Forum](http://pioneerspacesim.net/forum/viewtopic.php?f=3&t=292) to track this and gather responses.

The last version of Pioneer with OpenGL 2.1 support can be found [via this link](http://pioneerwiki.com/wiki/FAQ#Previous_versions_of_Pioneer_.28pre_2014-11-19.29_used_to_work.2C_but_current_doesn.27t_start), please us it for comparisons with the cu

[2014-12-31 08:14] #20 closed, assigned to nobody

[2014-12-31 17:04] johnbartholomew opened #3298 "Text rendering is partially broken"
Trying out Pioneer (@9f95339a9d54430817dd2eaa9ac6f8bb225715f6) on my shiny work computer for the first time, I see this:

![screenshot-20141231-165302](https://cloud.githubusercontent.com/assets/115749/5589071/1167f746-910e-11e4-94d5-ac43c23231b5.png)

opengl.txt says this:
OpenGL version 3.1.0 NVIDIA 331.79, running on NVIDIA Corporation Quadro K600/PCIe/SSE2
Available extensions:
Shading languag

[2014-12-31 21:47] #3298 closed, assigned to fluffyfreak

[2015-01-01 09:17] fluffyfreak commented on #3280
Ah no not 2.1 but I thought yours might do 3.1 but wouldn't start?

[2015-01-01 15:11] impaktor commented on #3280
Building now.

[2015-01-01 15:21] #3296 closed

[2015-01-01 15:23] impaktor commented on #3280
I don't know what I have, or what the hardware's supposed to work with. But trying out your branch, I get:

    SDL Version 2.0.3
    Failed to set video mode. (Could not create GL context). Re-trying with GL context flags cleared and compatiblity profile requested.
    Failed to set video mode. (Could not create GL context). Re-trying with 16-bit depth buffer
    error: Failed to set video mode:

[2015-01-01 15:27] fluffyfreak commented on #3280
Bummer, was hoping that might be the magical incantation that made the OpenGL genie happy :/

[2015-01-01 15:41] impaktor commented on #3280
I did get a window that poped up at me for like 0.1 seconds, before the error message in a small gray window.

Hm, removing the last commit and recompiling, I still get the same 0.1 seconds flicker, and then this:

    SDL Version 2.0.3
    Failed to set video mode. (Could not create GL context). Re-trying with 16-bit depth buffer
    error: Failed to set video mode: Could not create GL context

[2015-01-01 15:46] fluffyfreak commented on #3280
Yeah the only change is to retry with a different combination of context/profile flags. OSX forces a certain combination for versions of OpenGL above 3.1 but the alternatives might work better on some hardware than others. Worth a try.

We really need someone who has this specific problem to give this a try.

[2015-01-02 13:20] impaktor opened #3301 "Segfault in shipmarket"
On latest master: a1d500ce7fba480363a069bcf376fb8310593a87

ShipMarket -> mark a ship -> crash.

I noticed the crash after I built the SGM files, so I removed them all, but still crash:

    Loading took: 69875.622233 milliseconds
    CreateCollisionMesh for : (ac33)
    CreateCollisionMesh for : (amphiesma)
    CreateCollisionMesh for : (deneb)
    CreateCollisionMesh for : (dsminer)
    CreateCo

[2015-01-02 13:41] fluffyfreak commented on #3301
Fixed by #3302

[2015-01-02 13:41] #3301 closed

[2015-01-02 19:51] #706 closed

[2015-01-02 20:12] #1111 closed

[2015-01-02 20:13] #1468 closed

[2015-01-03 06:32] impaktor commented on #887
## Grievance

This bug continues to halt code using Lua, since anything referencing an attacker upon a ship being destroyed will trigger this bug.

## How to reproduce

- Set city detail to max, to get as many buildings as possible.

- Save script below in `data/modules/trigger.lua`.

        local Event = import("Event")
        local Comms = import("Comms")

        local onShipHit = function(sh

[2015-01-03 06:57] impaktor commented on #2199
Haven't resurfaced since then...

[2015-01-03 06:57] #2199 closed

[2015-01-03 07:13] impaktor commented on #2238
Closing.

[2015-01-03 07:13] #2238 closed

[2015-01-03 07:39] impaktor commented on #2375
Still happens.

[2015-01-03 07:59] impaktor commented on #1059
As described in #3211 this has been implemented for Windows, but not Linux/OSX, which are still left to
do.

[2015-01-03 16:41] radius75 commented on #2690
How to reproduce for me:
- Start game
- turn ON ```Display speed lines```
- jump wherever
- select Arrival Hypercloud as target (LMB click)
- Jump wherever

#3303 not fixes this for me

----
BTW, another bug (maybe related with this)
- start game
- select Sol or something (LMB click)
- rotate ship

green square moves along with the ship
![screenshot-20150103-173738](https://cloud.githubusercontent

[2015-01-04 11:24] radius75 commented on #2690
It seems to me that the speed line runs right through the centre of the camera view.
Ship (after hyperjump) moves (in manual control) in parallel with speed line.
Is why this line seems to be "infinitely" long.

[2015-01-04 22:32] fluffyfreak commented on #3270
@CmdrBugbear do you post as `nick` on the dev forum? If so then the only problem is the folder's name. Just right-click on it and rename `pioneer-thirdparty-master` to `pioneer-thirdparty`. Everything should just work.

[2015-01-05 10:07] impaktor commented on #3284
## First suggestion:

This inserts space at other places too, such as just above the "Hang up" button.

## Second suggestion:

I assume you meant: `box:PackEnd(ui:Margin(5, "VERTICAL", ui:Scroller(ui:MultiLineText(self.message))))`, but doing that adds space also above the message text, which looks strange.

## Third suggestion:
code above by ®radius75.

## Result with second suggestion
Gives extr

[2015-01-05 10:08] robn commented on #3284
Yeah, I was working from memory. You can do a BOTTOM margin if you like as well.

I don't think I care strongly enough. I don't like it, but I think that's more because of limitations in the layout engine that I wish weren't there.

So yeah, merge away.

[2015-01-05 13:50] #3284 closed

[2015-01-06 03:52] eloquentmess commented on #3101
Sweet!

[2015-01-06 13:05] walterar commented on #3240
@Impaktor The new Big Crappy has the same problem. The ships come into reverse.

I did not understand what you mean by optimization. You can clearing that?

[2015-01-06 13:45] fluffyfreak commented on #3240
"Optimisation" just means making it run faster, so going from 3 frames-per-second to 20 frames-per-second.

Docking direction is controlled by the modeller, so the strange docking needs to be modified for the stations by changing the orientation of the entrance and exit docking locators. Ping @nozmajner

[2015-01-06 13:55] impaktor commented on #3240
The optimization I was referring to was that perhaps you had turned of compile time optimization (`-O2` or `-O3` flag in gcc/g++) at some earlier point in time when debugging the code, and forgotten to turn it back on? Default is to compile an optimized version of pioneer, which is the case for the official release found on the pioneer download page.

[2015-01-06 13:58] walterar commented on #3240
You mean this?
make -j 5 'CXXFLAGS+=-O2 -pipe -w'

[2015-01-06 14:00] walterar commented on #3240
-O3 Cause strange things in my system. ;)

[2015-01-06 14:00] nozmajner commented on #3240
@fluffyfreak : Oh, it seems I forgot to properly test the docking with autopilot. It felt good with manual docking. I check as soon as I can download the latest build here at my workplace.

[2015-01-06 14:05] impaktor commented on #3240
@walterar Yes. if it uses the `-O2` then all is fine. Sometimes `-O3` can actually be slower for some programs (I actually have one of those). (Turning off optimization is done with `-O0` or just omitting it for gcc/g++, which will give shorter compile time, but slower run time).

But I hope you're not seeing a 20 times longer star up time anymore with the latest changes @fluffyfreak merged (SGM f

[2015-01-06 14:24] walterar commented on #3240
Loading took: 14552.289204 milliseconds

Thanks to improvements made by fluffyfreak in the engine. I can now enjoy the work of nozmajner. :)

[2015-01-06 14:48] nozmajner commented on #3240
Strange. When I flip the entrance markers, the autopilot approaches from the other end and goes in reverse from that direction. And it has a hard time finding a good direction for approach. Same if I flip all the markers for all bays too.
Here's a dock.dae where all of the markers are rotated to the other direction:
https://dl.dropboxusercontent.com/u/456051/pioneer/station_docking_A.dae

[2015-01-06 16:19] walterar commented on #3240
It has greatly improved. But still keeps incoming of aft.

[2015-01-06 18:28] fluffyfreak opened #3305 "Assert when loading a save game (Linux)"
@walterar has pointed out this issue:

After merging in #3303

[2015-01-06 18:33] nozmajner commented on #3240
Yes, that's what I'm saying.

[2015-01-07 12:28] walterar commented on #3305
For me, there is nothing better than to try the game, playing.

For me, there is nothing worse than, after playing hours, save the game, and not recover it.

Last night happened again and I went to sleep wanting to break everything.

Clearly, lately, there are new things that the serializer can not handle correctly.

I'll pray for someone to find the solution. :)

[2015-01-07 12:46] laarmen commented on #3305
I'm wondering if it has anything to do with #3279. After all, there was
some work on the serializer in there, although I can't figure out how
this would impact you.

[2015-01-07 14:14] gkpioneer opened #3307 "Assertion Failed"
Over the past few months some builds have failed with the error pictured below. December and January have done so as well. The build pioneer-20141128-win32 runs OK but is jerky.
Build pioneer-20140715-win32 runs smoothly and OK.
Attached is the error message I have been getting. Sometimes part way into a game, sometimes on startup.
Running on Windows Vista 32 bit 4MB RAM, AMD Athlon 64 5000+ at 2.

[2015-01-08 10:13] impaktor opened #3308 "Strange rendering"
After the latest merges yesterday/today: #3303 (and #3306) I'm seeing some pretty funky stuff.

When flying it seems like the ground, or parts of it, follows me up into the air, and it looks like the city buildings are sunk into the earth when starting a game. It's a bit difficult to take a screenshot of, since a video would be needed to show it properly, but this is also pretty strange:

![screen

[2015-01-08 14:19] radius75 commented on #3308
These screens is very similar to https://github.com/pioneerspacesim/pioneer/issues/2779

[2015-01-08 15:51] walterar commented on #3305
Wanted! Specialists in serializer of Pioneer.
Mission: Find what the serializer can not handle in the new orbital station.
Reward: 1 Kanara, used, ex Police, in good condition.

[2015-01-08 15:54] fluffyfreak commented on #3305
Hah! Yes sorry @walterar work has gone crazy busy this week. If anyone else wants to give it a try before I get chance then go for it!

[2015-01-08 16:12] walterar commented on #3305
I'll have to climb the reward then. :)

[2015-01-08 20:09] fluffyfreak commented on #3305
I've tried saving and loading in full debug, no problems. Is this with plain Pioneer or with Scout+?

[2015-01-08 20:53] walterar commented on #3305
If the space station is empty, no problems. TradeShips.lua distributes traffic of ships throughout the system, and it is rare to find any NPC ship in the station at stake.

The only way I can generate traffic of 64 ships is with the Scout + Traffic.lua integrated module that replaces TradeShips.lua but traffic is on demand. If you want I send the module adapted for Pioneer engine clean.

@impaktor

[2015-01-08 20:53] fluffyfreak commented on #3305
If it's a standard Pioneer save game can you upload it somewhere so I can try it out?

[2015-01-08 21:12] impaktor commented on #3305
I never tested the station with 64 ships at once (at least I don't remember it). However, I do know I tested spawning (at least one) of each ship available in pioneer, and I also checked that `numDocks==64`. Perhaps I had 20 ships at once in the station at the most.

But foolishly when I tested save/load I only had one ship (or thereabouts).

For testing, this is handy:

    s=import("Game").playe

[2015-01-08 21:57] fluffyfreak commented on #3305
Tried load/save with 13 ships docked at Gates spacestation in orbit around Earth and it was fine.

[2015-01-08 21:58] walterar commented on #3305
-- console.lua
--
Game  = import("Game")
Space = import("Space")

function sp(ShipsCount)
  local basePort = Game.player:GetDockedWith()
  ShipsCount=ShipsCount or basePort.numDocks - 2
  for i = 1, ShipsCount do
    Space.SpawnShipDocked("varada", basePort)
--    Space.SpawnShipDocked("storeria", basePort)
  end
end

Create with this a console.lua and put it in the user directory Pioneer (along w

[2015-01-08 22:18] nozmajner commented on #3305
I've just tested this on windows. Filled up the station with ships, and saved. It asserted on reload.
![assert](https://cloud.githubusercontent.com/assets/4182678/5671941/4fd6fd9a-978c-11e4-89e5-12f0d31c4d0b.png)
Here's my save and the usual output files: https://dl.dropboxusercontent.com/u/456051/pioneer/stationcrash.zip

[2015-01-08 22:57] walterar commented on #3305
It seems the problem is not the amount of ships.
Try with: sp ("1")
With only one ship, this appear.

[2015-01-09 08:22] fluffyfreak commented on #3305
@nozmajner that's another assert to do with the scanner, I committed a fix for it last night.

@walterar still not seeing a problem with the serialisation. Can you try with the latest code? As I said above I merged a fix for that assert last night.

[2015-01-09 08:27] fluffyfreak commented on #3307
There's been several new builds since then with numerous fixes and optimisations, would you mind trying one of the newer versions please @gkpioneer

[2015-01-09 12:22] laarmen commented on #3305
I'll try it out tomorrow, see if I can trigger the assert as well.

[2015-01-09 12:38] walterar commented on #3305
When retrieving the game, I have 1fps.

Two new problems in my master:
The text of fuel (propellant) is black.
The date and time are not see.
![propeller](https://cloud.githubusercontent.com/assets/1334989/5679791/3e5e29e2-97e3-11e4-9a29-f34495d3472b.png)
The reason is that I am using the character "space" to improve the tabulation of the text. But this, convert the color to black.
ej:
   "FUEL" :

[2015-01-09 12:52] laarmen commented on #3305
Setting aside the color matter, white space is not the proper way to solve
this kind of problem. @impaktor and @robn know more about this than I do,
though.

[2015-01-09 13:00] walterar commented on #3305
Unfortunately it's the only way I found to "accommodate" the text. :(  If there is another way, I am very interested in knowing it. But, if the color turned black when it finds a space, I think it should not happen.

[2015-01-09 13:46] fluffyfreak commented on #3305
@walterar ok so the crash is fixed but i've broken some text colours/rendering.

I'll close this and then we'll add a new issue about the text colour.

[2015-01-09 13:46] #3305 closed

[2015-01-09 13:47] fluffyfreak opened #3310 "Text Colouring is wrong."
@walterar has pointed out that some of the text colouring is black where it should be other colours.

This is after my recent #3304 merge

[2015-01-09 14:23] walterar commented on #3310
Messages (GameLog) overlap.
![gamelog](https://cloud.githubusercontent.com/assets/1334989/5680905/d11d5010-97f1-11e4-89c2-39d6efbda5e3.png)
MessageBox messages appear in black.
![messagebox](https://cloud.githubusercontent.com/assets/1334989/5680908/ddc3d474-97f1-11e4-8020-5d9c98659ba7.png)

[2015-01-09 14:24] walterar commented on #3305
:+1:

[2015-01-09 15:09] walterar commented on #3310
Missing text (black?) On the initial screen.
![captura de pantalla de 2015-01-09 12 05 22](https://cloud.githubusercontent.com/assets/1334989/5681558/527f3104-97f8-11e4-90f0-eec5e4f552b5.png)

[2015-01-09 18:49] impaktor commented on #3308
Perhaps better to show as an animated git. Seems like the terrain/horizon is clipping all the text, i.e. no text below the horizon in Worldview. BTW, this is on latest master, eacf40a97a2bc8a365e16993db80b9b01f183875

![ps1](https://cloud.githubusercontent.com/assets/619390/5685201/75066144-9838-11e4-8d85-710140543fff.gif)

[2015-01-09 18:52] fluffyfreak commented on #3308
Yeah that's a z-buffer problem alright, you can even see the tower sticking up through the numbers :)

[2015-01-09 20:01] impaktor commented on #3305
Indeed no.

In Worldview.cpp you have

	m_hudFuelGauge = new Gui::MeterBar(100.f, Lang::FUEL, Color(255, 255, 0, 204));

Where you can concatenate the FUEL string with a space, although that is horrible as well, in my opinion. The MeterBar should be remade anyway to use an icon instead of text and look more like New-UI, if anyone is up for the challenge.

[2015-01-09 21:34] walterar opened #3311 "Mounting guns misaligned"
![screenshot-20150109-001142](https://cloud.githubusercontent.com/assets/1334989/5687500/0e51ee34-982c-11e4-84b6-7cd3f0879cb8.png)
![screenshot-20150109-173815](https://cloud.githubusercontent.com/assets/1334989/5687502/16241ee8-982c-11e4-8629-9a3405c49f46.png)

It happens in most of the ships with "tag gun points".

On ships without "tag gun points", everything works ok until the game is saved. W

[2015-01-09 21:41] walterar commented on #3311
I understood that on the ships without "tag points", the default shot line must be the longitudinal axis of the ship?

[2015-01-09 23:08] impaktor commented on #3311
I think this is a double of an issue gernot opened a few years ago. Can't find it now. Perhaps I closed it recently in one of my cleaning sprees.

[2015-01-10 00:05] nozmajner commented on #3311
As far as I know, the default is the ship center for this, if there's no tag on the model.
Although it looks like these shots on these images are aligned properly, but the scale of the projectile is off.
Both of these ships have their cannon tag towards one side. Amphiesma, Mola Mola, DSminer, Storeria, Nerodia, and a couple of other ships have them in a similar way if I remember correctly.
The si

[2015-01-10 12:00] walterar commented on #3310
#3312 fix this

[2015-01-10 12:57] #3310 closed

[2015-01-10 13:35] walterar opened #3313 "Saved games change the alignment of guns"
This is especially noticeable in ships without tag_gun.

To probe, put this in the MOD directory:
https://dl.dropboxusercontent.com/u/15391580/Pioneer/Sidewinder_init.zip

Pioneer launch in Earth.
Launch the ship. Away from the station 100 Km, to avoid the stupid police. :)
Now shoot the cannon.
See the alignment of the projectiles.
Save the game and exit.
Retrieve the saved game and watch.

[2015-01-10 14:01] walterar commented on #3311
@impaktor  @nozmajner
There are two different issues here. Both serious.
I just opened 3313 to see, in detail, the other problem.

[2015-01-10 14:45] nozmajner commented on #3313
It doesn't seem to change at all if the ship has gun tag. At least it doesn't with the Pumpkinseed.
This is what happens with that sidewinder (just to provide visuals :) )
![screenshot-20150110-154311](https://cloud.githubusercontent.com/assets/4182678/5691956/8f2f6e56-98df-11e4-82e6-20b777b67c15.png)
Win7 20140109

[2015-01-10 15:29] walterar commented on #3313
Yes, on start with saved game, instead of shooting at correct direction (12  in the watch ), sometimes shoot in direction at 3 or 6. Here we see that is shooting in the direction of 3.

This is good if you you are attacked by an pirate with that ship. But boring. ;)

[2015-01-10 20:09] dreadk2002 opened #3314 "Text has missing pixels and some special 2 bit characters dissapear"
Text is looking kind of strange in build 20150109. Also some (only some) of the characters are dissapearing. The sistem I run Pioneer on is win7, it has GeForce GTX 760 2Gb video card. Also the characters "ș" and "ț" are only sometimes showing. In "Ieșire" is the same character as in "Pornește" (see 2nd and 3rd pictures).

![loading](https://cloud.githubusercontent.com/assets/1060220/5693014/1c78a

[2015-01-10 22:14] radius75 commented on #3314
Check translation:  ş (is ok),  ș (not printed)
You have two different symbols in translation

[2015-01-11 01:20] walterar commented on #3313
This worked fine before merging #3252. Hopefully flufyfreak have the solution before forget what did :)

[2015-01-11 10:40] fluffyfreak commented on #3313
Ah, that's interesting.

[2015-01-11 12:48] fluffyfreak commented on #3313
So if a ship has a gun tag locator then everything is fine, but the sidewinder doesn't have a gun tag and so it gets corrupted?

Is that correct?

[2015-01-11 12:58] walterar commented on #3313
Correct

[2015-01-11 13:02] fluffyfreak commented on #3313
OK then I think I've found the cause of it, bit of a pain. It doesn't happen for Pioneer itself because all of the ships have gun tags I think. I hadn't taken into consideration mods and none standard ships that were relying on some other behaviour.

I'm looking into restoring it now.

[2015-01-11 13:05] walterar commented on #3313
But as you can see, when you start working (even better than tag_gun) but everything changes with the save.

[2015-01-11 13:27] fluffyfreak commented on #3313
Well when I put back the original code the laser now fire backwards. But nothing else in that area has changed. Can you give me the original sidewinder lua ship definition to look at?

[2015-01-11 13:33] walterar commented on #3313
define_ship {
  name='Sidewinder',
  ship_class='light_scout',
  manufacturer='p66',
  model='sidie_m',
  forward_thrust = 5e6,
  reverse_thrust = 25e5,
  up_thrust = 15e5,
  down_thrust = 15e5,
  left_thrust = 15e5,
  right_thrust = 15e5,
  angular_thrust = 2e7,

  gun_mounts = {
    { v(0,0,-16), v(0,0,-1),9, 'HORIZONTAL' },
    { v(0,0,15), v(0,0,1),9, 'HORIZONTAL' },
  },

  slots = {
    carg

[2015-01-11 13:37] fluffyfreak commented on #3313
Ah that's why.

The correct way to fix this is to add gun tags to the ships.

We started emitting a warning to the `output.txt` file when gun tags were first added, which was more than a year ago.

I guess I'll have to try and figure out how to get it to load them from the Lua/JSON etc.

[2015-01-11 13:48] walterar commented on #3313
When you start, this work well. Why after passing through serializer is broken? You understand what is the problem?

[2015-01-11 13:52] fluffyfreak commented on #3313
Yes it's because they're just being filled with random values. The first time through it looks like they're, entirely by chance, getting filled with useful values.

[2015-01-11 13:57] walterar commented on #3313
It is not by chance. http://spacesimcentral.com/ssc/topic/3948-camera-and-gunmounts-changes/#entry43685

[2015-01-11 14:04] fluffyfreak commented on #3313
You misunderstood me, the fact that after loading the game they are working is "by chance". There is nothing setting them to have the correct values. This is exposed when they are loaded from a save game because now the values are completely random.

I'm tempted to say that the model is what is broken, you've had since **23rd September 2013** to fix those models.

[2015-01-11 14:13] walterar commented on #3313
tag_gunmount_N	Gun positions, X "left", Y "up", Z "out" of the ship (in the fire direction). Note at this time, only N = 0 or 1 will work, and they correspond to "front" and "rear" guns in the UI. The "max_lasers" ship definition field still takes precedence (ie if max_lasers = 1, tag_gunmount_1 will never be used). Defaults to the ship origin.

"Defaults to the ship origin"

Change the rules ever

[2015-01-11 14:15] walterar commented on #3313
And a lack of respect for the work of others.

[2015-01-11 14:19] fluffyfreak commented on #3313
There's been 1 year, 3 months, 20 days to fix it.

That isn't `every day`, it's been like that for that whole time.
The original plan was to remove the code after `a few weeks`.

You don't have to merge our code updates into Scout+, we're glad that you do and that you're working on it but we're not forcing you to take the Pioneer code and we do warn everyone, very far in advance, when things are b

[2015-01-11 14:21] walterar commented on #3313
OK. I prefer to leave the engine Pioneer and continue with what I consider correct.

[2015-01-11 14:26] nozmajner commented on #3313
OK, before this gets out of hand.
@walterar: please stop the talk about schizofrenia (it's not even a good term here). This is what disrepect is, this name calling and offensive tone towards one of the developers who put a lot of effort and energy into Pioneer.
And those rules aren't changing day by day. That fallback is there so older mods could work without the tags, not crashing the game as soo

[2015-01-11 15:02] dreadk2002 commented on #3314
"ș"(with comma) is used in all words in the second screen shot. "Pornește" and "Ieșire" use the same "ș"(with comma), yet it is printed only in "Ieșire". I would prefer not to use the cedilla versions as they are not Romanian characters especially because it seems it's not a general problem (they print sometimes). I would prefer to find out the cause of the weird "sometimes printed" characters and

[2015-01-11 15:44] radius75 commented on #3314
ş - is used 6x in UI-Core; 23x in Core strings.
You will have to standardize this:)

I do not know how to edit the fonts to add missing characters.

[2015-01-11 16:38] walterar commented on #3313
@nozmajner  Make no mistake you. Andy and I are working. We sometimes use words risqué, damaging people's ears too sensitive, but that's the sound of "working people". And not get any remuneration for this; just like you.

[2015-01-11 16:51] walterar commented on #3313
@fluffyfreak  #3316 seems to be working. Let me try some hours with real game, and if any problems, i inform him gently, so nozmajner not be shocked. ;)

[2015-01-11 18:21] walterar opened #3317 "error: Lua serializer '(null)' tried to serialize an..."
error: Lua serializer '(null)' tried to serialize an invalid 'Ship' object

@laarmen This happens to me sometimes, pressing twice II (settings)

null? I have no idea who (lua module?) is generating this error.

LuaObjectBase * lo = static_cast <LuaObjectBase *> (lua_touserdata (l, idx));
void * o = lo-> GetObject ();
if (! o)
Error ("Lua serializer '% s' tried to serialize an invalid'% s' object '

[2015-01-11 18:48] laarmen commented on #3317
The key being null isn't exactly worrying, the whole key thing is broken
in the first place.

There isn't much we can do with these info, we'd need to know how to
reproduce (lua serializer bugs are a pain to identify, TBH)

[2015-01-11 19:45] walterar commented on #3317
The funny thing is that happens when you double press Pause (II) to enter the Setting section. I was not saving anything. It's strange. I hope we can repeat and capture it. :(

[2015-01-11 20:29] laarmen commented on #3317
Oh, I didn't even know this shortcut. I tried to reproduce it, but
couldn't. Does it happen with vanilla Pioneer, or do you have mods?

[2015-01-11 21:28] walterar commented on #3317
Forget it; I was trying to compile with -pipe and strange things happen. It has happened to me before, Gentoo kernel compiling, I had forgotten. I believe that this failure is not repeated. Close this now. If repeats (not think) I open another. Thanks @laarmen

[2015-01-11 21:28] #3317 closed

[2015-01-12 08:04] dreadk2002 commented on #3314
Sorry, you're right, "Ieșire" had cedille. I didn't notice that because I didn't translate that one. I only used s with comma. Isn't it possible for the game to accept Unicode 3.0.0?

[2015-01-12 09:44] #3313 closed

[2015-01-12 09:47] johnbartholomew commented on #3314
dreadk2002 wrote:

The game code has no problem with Unicode, but it is difficult to find
fonts with an appropriate style for the game that also support many
characters. There are three things we can do:

1- Use the wrong characters. This is obviously a bad option.

2- Add the missing characters to the font we use. I think we should do
this, since we're only missing one or perhaps a few characters

[2015-01-12 14:57] nozmajner commented on #3314
Does this look ok? (Ignore the rotated C :D )
![char_pioneer](https://cloud.githubusercontent.com/assets/4182678/5704625/9b820020-9a73-11e4-9e55-087536bc4e0d.png)

[2015-01-12 15:17] nozmajner commented on #3314
Can you try these? They should work, if I'm right, but I'm new to font editing. :) Fontforge gives some minor errors upon exporting, but those may be already present in the fonts, but we need to be on a lookout for errors just in case. For kerning errors and similar too, but I think those shouldn't be there.
https://dl.dropboxusercontent.com/u/456051/pioneer/pioneer_fonts.zip

[2015-01-12 17:12] #3311 closed

[2015-01-12 17:39] dreadk2002 commented on #3314
@johnbartholomew You can find all the characters here(unicode as well): http://en.wikipedia.org/wiki/Romanian_alphabet, but I think only ș,ț,Ș and Ț are the problem.
@nozmajner What characters did you use? The issue is not the way it shows in game, but the fact that the letters used in Transifex as "ș" and "ț" (with a comma) are not recognized in the game. I could use s and t with cedille in Trans

[2015-01-12 17:47] radius75 commented on #3314
@nozmajner solutions (second option) work well

Test fonts Orbiteer-Bold: all romanian symbols + cedille
ĂăÂâÎîȘșȚț-ŞşŢţ
![bez tytulu](https://cloud.githubusercontent.com/assets/1929111/5707657/d013a2aa-9a8a-11e4-90b1-0cd81d97b289.png)

[2015-01-12 17:53] nozmajner commented on #3314
@dreadk2002 The fonts were missing those ș,ț,Ș and Ț letters, so I edited them in, appending a comma to each letter. I think they should now show up properly if you use them with the transifex translation.

[2015-01-12 18:25] dreadk2002 commented on #3314
Is it commited? Will I be able to test with the last build?

[2015-01-12 18:27] radius75 commented on #3314
probably related to  #3308

[2015-01-12 18:30] nozmajner commented on #3314
Not yet commited, but you can test it if you overwrite the files in the data/fonts dir. I'll make a PR right away. I just wanted to wait to see if everything's in place.

[2015-01-12 18:52] dreadk2002 commented on #3314
They are printing now. Thank you.

![menu2](https://cloud.githubusercontent.com/assets/1060220/5708798/de5a1152-9a9c-11e4-8744-2ed067c1b680.jpg)

[2015-01-12 19:10] walterar commented on #3311
@fluffyfreak
This has not yet been resolved. It is different from #3313. This affects the ships "with" gun_tag. The shots they deviate and is very easy to see.

[2015-01-12 19:20] nozmajner commented on #3311
How they are deviate?
Neither of these ships have their guns on their longitudinal axis, but towards the side. Those pictures are showing them in their correct position (apart from the twin gun issue of course, but the center of the two shots do line up with the cannon as it should).

[2015-01-12 19:28] walterar commented on #3311
Any player can see that what you say is wrong. You, do not play this game. With guns pointing every which way, it is impossible to hit the target. Try playing the game.

[2015-01-12 19:39] nozmajner commented on #3311
Wow. This is pointless.
http://en.wikipedia.org/wiki/Perspective_(visual)
![screenshot-20150112-203125](https://cloud.githubusercontent.com/assets/4182678/5709517/d794799a-9a9a-11e4-8dea-239e75d37b83.png)
![screenshot-20150112-203136](https://cloud.githubusercontent.com/assets/4182678/5709521/dea4e224-9a9a-11e4-9fce-ccb4768d401b.png)
![screenshot-20150112-203539](https://cloud.githubusercontent.co

[2015-01-12 20:22] walterar commented on #3311
You're good to argue with papers, but with the help of wikipedia, you never get to Elite. :)

Nor is it yet resolved the issue with dual guns.

The code that handles gun_tag is broken.

[2015-01-12 20:40] nozmajner commented on #3311
See that faint line in front of the Pumpkinseed? I just put that on the model. There's one for the gun tag orientation (straight ahead) and one from the origin of the ship, straight ahead:
![screenshot-20150112-213537](https://cloud.githubusercontent.com/assets/4182678/5710530/50560576-9aa3-11e4-9fb3-4fd6295b9a05.png)
![screenshot-20150112-213556](https://cloud.githubusercontent.com/assets/4182678

[2015-01-12 20:56] walterar commented on #3311
Now I understand why people do not report problems. Instead of solving them, invest your time to prove that all is well. Keep it up.

[2015-01-12 20:59] fluffyfreak commented on #3311
@walterar what are you on about? @nozmajner has just shown you that it is doing exactly what you say it isn't.

[2015-01-12 21:02] nozmajner commented on #3311
You know it's a bit strange to have this one sided argument, where I'm the only one arguing. You said something.
I said it seems good to me, but I asked you to elaborate.
You responded that I'm not playing the game (I could say yes, because I'm too busy contributing to it, but surprise, I do play the game).
I tried to illustrate that it seems good to me. Two times actually, but I could also give y

[2015-01-12 21:08] walterar commented on #3311
As you wish. I already lost too much time trying to make them understand what I am experiencing in practice with my module combat. I will see how I solve this.

[2015-01-12 21:30] laarmen commented on #3311
@walterar, please try to refrain yourself from being what comes across as condescending. You give out a distinct impression of thinking that somehow our work on Pioneer is your due. I know for a fact that when one expresses oneself in a foreign tongue, especially one having a way to express nuances that is way different than what is used in Latin-languages grammars, it is easy to convey a tone tha

[2015-01-12 21:56] walterar commented on #3311
@laarmen

Thanks for the advice. I'm trying to warn you that it is burning them home. But they do not understand me. Sorry.

[2015-01-12 22:05] fluffyfreak commented on #3311
Correct, we do not understand, that's why nozmajner is trying to find out what the problem is and you are being rude and unhelpful!

You spent a lot of time attacking me when I was spending HOURS of my time trying to fix the issue that you reported and it annoyed me. Please, your bug reports are good for the game but please stop being so rude to the people who are making this game and trying to fi

[2015-01-12 22:29] walterar commented on #3311
I have also spent many HOURS, DAYS, MONTHS AND YEARS, testing your works. Merged in the master without you tested.

[2015-01-12 22:40] nozmajner commented on #3311
@walterar Please stop. You are being malicious and you do nothing but namecalling. This conversation won't get us anywhere.

[2015-01-12 22:45] walterar commented on #3311
Done. Ship.cpp modified, and put ALL ships with weapons in default position. Problem solved. You will see the difference when you see them fight.

Thanks for everything.

[2015-01-13 07:14] fluffyfreak commented on #3311
@walterar no-one has said the bug doesn't happen, @nozmajner has simply posted that he cannot get the same results as you. In other words we cannot understand **how** you get the bug to happen.

The description you posted doesn't tell us the steps that are needed to repeat the bug, do you understand? If you don't tell us how to repeat the bug then we cannot fix the bug.

Instead of telling us how

[2015-01-14 10:57] fluffyfreak commented on #3308
@impaktor I have now seen this on my Linux build!!!

I'll try and look into it tonight, I suspect it just needs to be clearing the z-buffer at the start of UI rendering and that's been lost somewhere.

[2015-01-14 15:37] radius75 opened #3322 "Invisible ink in tooltip"
![screenshot-20150114-163008](https://cloud.githubusercontent.com/assets/1929111/5741452/580b7eae-9c0b-11e4-875f-b71811752a8c.png)
![screenshot-20150114-163045](https://cloud.githubusercontent.com/assets/1929111/5741453/580e8068-9c0b-11e4-8c0b-e91765f38ee6.png)

[2015-01-14 17:46] impaktor commented on #2410
Discussed on the forum: [link](http://pioneerspacesim.net/forum/viewtopic.php?f=3&t=303)

[2015-01-14 19:21] radius75 opened #3323 "Squares in the view of the galaxy"
![screenshot-20150114-201857](https://cloud.githubusercontent.com/assets/1929111/5745662/ab95a0f8-9c2a-11e4-926e-e0233d5df99c.png)

[2015-01-14 19:28] impaktor commented on #3323
I think this is a (long lost) feature, and not a bug.

After all, the stars aren't blue or green either. It just switches to another way of showing the information. A more square way.

[2015-01-14 19:44] fluffyfreak commented on #3323
Yeah not a bug, when I did the OpenGL 3.1/2 stuff it broke this screen so only showed points instead of the squares that it used too. Then I fixed it, back to what you see there :)

The colours are of the factions, it's not the galaxy view, it's the faction view.

[2015-01-14 22:06] fluffyfreak commented on #3308
Got stuck debugging something for another PR for 4 hours :sob:

[2015-01-15 03:26] walterar commented on #3322
Yes, I see the same.

[2015-01-15 07:09] radius75 commented on #3323
ok, I understand:)

[2015-01-15 08:29] #3323 closed

[2015-01-16 01:41] walterar commented on #3322
Surely this related to #3310

[2015-01-19 12:21] walterar opened #3325 "onShipEquipmentChanged, has disappeared."
Therefore BreakdownServicing.lua not work.
(And I should not be here)

[2015-01-19 13:45] #3325 closed

[2015-01-20 15:33] nozmajner opened #3329 "Request: temporary lua/json controlled flight UI"
I was thinking about the flight UI for a while. SOme of the things feel quite randomly placed. These things made sense on the old dashboard style UI though.
Until the whole thing is migrated to the newUI, how hard it would be to expose the current UI elements positioning and scaling to some kind of lua or json file? As a temporary measure, so we could play around with it without the need to build/

[2015-01-21 11:28] CmdrBugbear commented on #3287
hey Laarmen, just letting you know I haven't dropped off the face of the earth.  I'll be in touch...

[2015-01-21 11:32] fluffyfreak commented on #3329
We could do this, or we could get a few of us together and actually rewrite it once and for all.
@robn has been doing something with the UI again lately.

We do need a few widgets for it: crosshair, scanner, message log. Mostly it just needs someone to sit down, convert it and we need to fill in the missing bits by splitting the work amongst me, @impaktor, @laarmen, @lwho and whomever else can be

[2015-01-21 15:22] clausimu opened #3331 "Ships stuck in docking phase"
There is something strange going on with ships set to dock (ship:AIDockWith(starport)). The AI triggers the event "onAICompleted", but flight status of the ship is stuck in "DOCKING". Either the docking procedure is not complete (in which case the AI should not trigger "onAICompleted"), or the flight status should be changed to "DOCKED".

This does not happen for every docking event. I have not ac

[2015-01-22 19:09] corundscale commented on #3331
I'm still out of dev process, but could it be similar to what happens to player when forcing time compression when landing using autopilot? The ship effectively seems to land on the pad, but the permission times out before that so it never actually completes docking.

[2015-01-22 20:09] clausimu commented on #3331
That would be in keeping with my observations. I have only seen this when speeding up time. I will try another game where I don't speed up and just keep it running in the background. Let's see if the same happens.

I can also confirm that the ships that are "stuck" stay there for long. I have re-checked their status every minute and they just stay in that "non-docked" state for several minutes (I

[2015-01-22 20:25] clausimu commented on #3331
I just did another simulation where I did not speed up time. Within 5 minutes of (realtime) game play 3 ships got stuck. I was using the same simulation (~1000 ships in Sol) as before.

I am playing with the 20150120 64-bit linux release.

[2015-01-23 17:56] clausimu commented on #3331
Some more information collected in the last few simulations:

1. Ships get "stuck" in ground bases and starports in space.
2. The ships being "stuck" look like they have landed appropriately. For example, there were 8 ships "stuck" at Gates Starport. All eight had landed in an appropriate spot within the space station (looked pretty cool). They did not hover over the surface or were "stuck" in mid

[2015-01-24 11:50] fluffyfreak commented on #3307
Closing this as I believe the issue is already fixed in newer version and there has been no further response.

[2015-01-24 11:50] #3307 closed

[2015-01-24 12:00] fluffyfreak commented on #3280
@jfacoustic & @eloquentmess is there any update on this? have you tried the latest versions which have bug fixes?

[2015-01-24 12:01] fluffyfreak commented on #3275
@jasondude7116 & @McConn75 have you tried the latest releases? Do they work or do you still see the same problems?

[2015-01-24 12:31] #2779 closed

[2015-01-24 12:31] #3308 closed

[2015-01-24 12:38] fluffyfreak commented on #3331
How are you detecting that they're getting stuck?
I've been sticking breakpoints all over the place and they all seem to be docking but I might be missing something. Or I'm only getting the ones that are working and not the ones that fail.

[2015-01-24 14:44] radius75 commented on #3146
Currently does not display the full joy name
![screenshot-20150124-153656](https://cloud.githubusercontent.com/assets/1929111/5887672/0cc4e7ba-a3df-11e4-9d52-49e2db55460b.png)

[2015-01-24 15:19] impaktor commented on #3051
I wonder if the blame is on SDL, Pioneer, or i3?

[2015-01-24 15:27] impaktor commented on #2920
I think this is a bit stale now, that we're on OpenGL 3.1, and changes have been made regarding the drawing of that map.

[2015-01-24 15:27] #2920 closed

[2015-01-24 16:45] jasondude7116 commented on #3275
It seems to work now and fps is much better.

Sent from my iPhone

[2015-01-24 19:43] impaktor commented on #3280
I guess it falls on @eloquentmess to build a new "latest version" for OSX.

[2015-01-24 19:48] fluffyfreak commented on #3275
Thanks for replying @jasondude7116 :) yeah there has been a look of optimisation since that earlier build!

[2015-01-25 03:04] clausimu commented on #3331
I first noticed it when my script crashed pioneer when trying to undock ships that apparently were not docked in the first place. I now catch and collect ships that I have set to dock somewhere if the Ai claims to be done (onaicompleted) but the flight status did not change to DOCKED. Over time this bin fills up with more and more ships (hundreds over time). I then went and flew to an actual locat

[2015-01-25 10:43] corundscale commented on #3331
It really does look like what happens to the player when trying to dock in accelerated time.
Could it be something like permission timing out without AI being notified in any manner?

[2015-01-25 11:55] fluffyfreak commented on #3331
@clausimu yes if you could share your changes somehow that would be good as it sounds like it rarely happens, I'm sure that I can fix it.

@corundscale it does sound like that but when that happens to ships I still see them docking and changing status so there must be some other condition associated with it.

[2015-01-25 11:59] impaktor commented on #3322
I'm thinking, once this is fixed, we have a fairly stable* pioneer again.

*stable means latest bug invasion squashed.

[2015-01-25 14:03] fluffyfreak commented on #3322
@impaktor your wish is my command! #3334 :)

[2015-01-25 18:50] clausimu commented on #3331
The following is a crude script that simulates local traffic. In the function "afterDocking" I check for the flight status (lines 180-192) and print all stuck ships together with their starport where they are stuck whenever a new ship is added to the list.

If there is a better way to share this, please let me know. Can I mark the following as code to have it formatted a certain way? I'm totally n

[2015-01-25 19:35] #3322 closed

[2015-01-25 19:47] robothauler opened #3335 "Strange distances in conjunction with storeria"
If I set the ship type to "storeria" the distance to the selected space station changes from 2.77AU to 4.05AU.

![screenshot-20150125-202929](https://cloud.githubusercontent.com/assets/10255455/5892938/62aab792-a4d2-11e4-92aa-6e2843f1e5d7.png)

![screenshot-20150125-202940](https://cloud.githubusercontent.com/assets/10255455/5892942/7be6db50-a4d2-11e4-851e-a2b674f54ec7.png)

This happens only if I

[2015-01-25 20:02] nozmajner commented on #3335
Wow, I can confirm this. And if you set yourself to another ship using the console, then it jumps back to the 2.77AU. And if you switch back to the Storeria again, it goes back to 4AU.
Also happens on Sol.
I first was going to say that there isn't anything out of ordinary in the model file, but I double checked and it's the camera tag scaling. It's scaled 1.465, which is what you get if you 4.05AU

[2015-01-25 20:11] fluffyfreak commented on #3335
hmmm... the Storeria... is very big? ;)

[2015-01-25 20:13] nozmajner commented on #3335
So big, it bends space-time :D. But if you have properly scaled camera tags too, then it will only change the distance for the views with improperly scaled tags, you space-time bending at the press of a button.

[2015-01-25 20:25] nozmajner commented on #3335
Aaaand I wasn't paying attention and copied it to my master branch and committed (I even did a detailed commit message, joke included :) ), instead of a separate one, so I need to fix that, but not tonight. So here's the updated dae instead. Could somebody do the replacing for me?
https://www.dropbox.com/s/puffo2c918en2yg/storeria_hi_fix.zip?dl=0

[2015-01-26 09:21] impaktor opened #3336 "Still strange rendering"
So a continuation of #3308, the BBS is fixed as I mentioned there, but world view is still strange.
(On latest master, 77bd4bb7504207b20faafee1a6835522efd74798, GNU/Linux)

![ps2](https://cloud.githubusercontent.com/assets/619390/5897511/067f86a0-a545-11e4-8b96-d4326f79c03e.gif)

[2015-01-26 09:48] #3335 closed

[2015-01-26 10:06] impaktor commented on #3280
OK, so new OSX build is out (thanks @eloquentmess), please give it a try @jfacoustic: http://sourceforge.net/projects/pioneerspacesim/files/pioneer-20150125-osx.zip/download

[2015-01-26 14:04] fluffyfreak commented on #3336
It looks to me as though the zbuffer clearing is just not happening on Linux. Perhaps the calls to glDepthRange used to clear it but for some reason they don't anymore?

Do a quick test and find the call in the renderer where `glDepthRange` lives and after it put a call to `ClearDepthBuffer`. If that works then it's not really the optimal solution but it might suffice.

[2015-01-26 14:06] corundscale commented on #3331
@fluffyfreak
Ok, so another question:
What is supposed to happen after following sequence of events:
- docking ship begins final phase of approach
- permission  times out
?

Could we ensure that things like permission timing out always happen as the last thing in a timestep and that stuff like permission duration is always rounded up (so regardless of timestep length it always takes at least as lo

[2015-01-26 15:54] impaktor commented on #3336
Not sure I follow. As far as I can tell, `glDepthRange` is used in `graphics/opengl/RendererGL.cpp` wrapped in a `SetDepthRange` call, which in turn is used in some places in `SectorView.cpp`, which doesn't feel like the correct place for this to go wrong, since it happens without going into sector view.

Or should I muck about in `SectorView.cpp`?

[2015-01-26 15:59] fluffyfreak commented on #3336
Hmm, damn that was my best guess. Basically I don't know why but it looks like on Linux the depth buffer is not being cleared. However I can't think of anywhere that has changed. The `glDepthRange` was just my best shot in the dark.

[2015-01-26 16:03] impaktor commented on #3336
Perhaps something to do with #3306, as that does introduce changes to some of the code I looked at when following your advice.

[2015-01-26 16:08] fluffyfreak commented on #3336
I've checked that before but I can't see any reason it would fail on Linux and not on Windows. Also there's no changes to the depth clearing.

I need to try this out on a Linux machine and just debug it.

[2015-01-26 16:11] impaktor commented on #3336
Happy hunting!

[2015-01-26 21:25] clausimu opened #3337 "Equipment labels missing"
I just downloaded and compiled the git version (I'm on a 64-bit linux system). In the station screen all labels for ship equipment are missing. The numbers (prices, amount) are there - just the labels are missing (on both sides of the screen - the stuff available for purchase (left) and the stuff already built into the ship (right)).

The strange thing: ONLY the Multi-Scoop shows the label. I flew

[2015-01-26 21:37] impaktor commented on #3337
Most likely something to do with #3295.

Are you playing the English version, or a translated version?

So the commodity labels work? But not ship equipment?

[2015-01-26 21:42] fluffyfreak commented on #3336
I am now having to compile older versions to find when the problem started. I'm totally baffled by this one :/

If you can find which version it actually started with that would help me greatly.

[2015-01-26 21:53] impaktor commented on #3336
Will do.

[2015-01-26 22:38] fluffyfreak commented on #3336
Ok, I think you're right that it might come in with #3306 but I am baffled as to why. I can't see what would cause it.

[2015-01-26 22:41] fluffyfreak commented on #3336
Just trying to find the specific commit from that range to see exactly what happened, maybe that will help me figure this out.

[2015-01-26 23:01] fluffyfreak commented on #3336
@impaktor ok I can't find an intermediate commit between https://github.com/robn/pioneer/commit/84ef0d774640011340e45d2774a10e21dcb8e05c and https://github.com/robn/pioneer/commit/8b5c72155ad254aed3558c2d520a17782152fbee that will compile so it's going to be a case of figuring out why it doesn't work.

The only other likely candidate is before the #3306 commits was 81e728fb14319b8bae11e3cbd09eb039

[2015-01-26 23:06] fluffyfreak commented on #3336
Looking at it, it's almost like the z-ordering is reversed.

It's too late tonight for me to do any more on this but I'll try to find some time asap.

[2015-01-26 23:42] victort commented on #3337
On 01/26/2015 01:37 PM, Karl F wrote:

just want to say i'm experiencing the same thing. English version,
running ver git (fb62c69) on: Linux

[2015-01-27 00:26] clausimu commented on #3337
Correct - equipment labels are gone but commodity labels are fine. I'm playing the English version.

[2015-01-27 08:10] impaktor commented on #3337
Nope, this works for me, and it works for @jmf as well, so there seems to be something in your setup that causes this.

Please make sure you don't have any mods installed, or any custom `Equipment.lua` files anywhere.

Also please make sure you have the `data/lang/equipment-core/en.json` file.

[2015-01-27 09:05] fluffyfreak commented on #3336
Hey @robn just wanted you to know about this bug we're having, I can't fathom why it's happening so wanted to loop you in for brighter ideas :)

I had a couple of thoughts before bed last night like:
* possibly calling methods on the wrong renderer?
* compilation/linking issue when dummy renderer not in project?
* not setting depth order / range / clearing correctly?

That last one though I would

[2015-01-27 09:06] impaktor commented on #3336
I can confirm that 81e728fb14319b8bae11e3cbd09eb03928c5b0ab works for me.

Also, I should mention that not all Linux systems experience this bug, as @jmf confirmed last night that master works for him.

[2015-01-27 09:12] fluffyfreak commented on #3336
Do you have an AMD/Ati GPU?
What GPU does @jmf have?

I just tried it (I have AMD GPU) and it's like everything is ok for the first frame, and trashed after that.

[2015-01-27 09:16] impaktor commented on #3336
% glxinfo | grep OpenGL
    42:OpenGL vendor string: NVIDIA Corporation
    43:OpenGL renderer string: GeForce 210/PCIe/SSE2
    44:OpenGL version string: 3.3.0 NVIDIA 340.32
    45:OpenGL shading language version string: 3.30 NVIDIA via Cg compiler

[2015-01-27 09:27] fluffyfreak commented on #3336
Damn, I was starting to hope it was we could track that way.

[2015-01-27 09:30] fluffyfreak commented on #3336
Ok that's interesting, if I disable planet rendering then everything works ok. I wonder if this is state being persisted when it shouldn't.

[2015-01-27 10:27] robn commented on #3336
Is the repro is to start game, open BB, request launch, and note bits of terrain shape hanging around?

If so, its working fine here on:

* `OpenGL version 3.1.0 NVIDIA 340.65, running on NVIDIA Corporation GeForce GTX 770M/PCIe/SSE2`
* `OpenGL version 3.3 (Core Profile) Mesa 10.4.2, running on Intel Open Source Technology Center Mesa DRI Intel(R) Haswell Mobile`

@fluffyfreak testing the first po

[2015-01-27 10:32] fluffyfreak commented on #3336
Yeah I've eliminated everything else now.
It's definitely the `GeoSphere` rendering. I just cannot fathom out why now :/

Nothing has changed in that section that I can see. Especially not with the dummy renderer changes. The biggest change I can see is an `int` to `Uint32` in `GeoSphereMaterial.cpp`... that's about it.

[2015-01-27 10:37] robn commented on #3336
Yeah, that looks rather benign.

Also couldn't reproduce it on the Mesa software renderer: `OpenGL version 3.3 (Core Profile) Mesa 10.4.2, running on VMware, Inc. Gallium 0.4 on llvmpipe (LLVM 3.5, 256 bits)`

@impaktor do you know how to drive `git bisect`? Since you can reproduce it you're probably best placed to try it.

[2015-01-27 10:45] fluffyfreak commented on #3336
We know it worked in 81e728fb14319b8bae11e3cbd09eb03928c5b0ab and was broken at 8b5c72155ad254aed3558c2d520a17782152fbee it just doesn't make sense as to why it would be.

How can I force it to run with the Mesa software renderer? Might be able to eliminate it as a local build issue.

[2015-01-27 10:47] robn commented on #3336
`LIBGL_ALWAYS_SOFTWARE=1 ./pioneer`

[2015-01-27 10:48] fluffyfreak commented on #3336
hmm, I just get "Failed to set video mode". Guess I need the driver.

[2015-01-27 10:50] robn commented on #3336
Probably `libgl1-mesa-glx`.

[2015-01-27 10:56] robn commented on #3336
Yeah, I can't see anything interesting between those two commits either. The only vaguely interesting thing I saw (that is, enough to make me check some headers) is that `glDepthRange` takes `GLclampd` args while `SetDepthRange` takes doubles, but these should be compatible.

[2015-01-27 11:01] fluffyfreak commented on #3336
Possibly range wrapping? I've seen that on some GPUs but not others to do with colours and alpha.
Still might not relevant as I don't think that the `GeoSphere` or related code uses it does it?

[2015-01-27 11:02] robn commented on #3336
Possibly. But hang on, that's SectorView (yeah, didn't read properly). What could the UI be doing to bollocks it up?

[2015-01-27 11:03] robn commented on #3336
Depth testing?

Grr, but I still don't understand what's changed.

[2015-01-27 11:05] fluffyfreak commented on #3336
Exactly, there's nothing that should affect what we're seeing.
Later on I'll try just blitzing all of the rendering state before and after rendering the terrain to see if I can work back from a known good thing and identify it.

I find it rather telling though that it behaves differently for different makes/models of GPU/driver.

[2015-01-27 11:06] fluffyfreak commented on #3336
That software rendering still doesn't work for me. I'll try again this evening.

[2015-01-27 11:17] impaktor commented on #3336
Never used it, but I can learn. Is it still needed, since the suspected commits don't compile?

[2015-01-27 12:27] laarmen commented on #3336
Bad @robn, non-compiling commits are EVIL!

On Tue, Jan 27, 2015 at 12:17 PM, Karl F <notifications@github.com> wrote:

[2015-01-27 12:32] robn commented on #3336
@impaktor Probably not, if they don't compile. Dang.

@laarmen Maybe. Refactoring in contained chunks with meaningful commit messages can complicate that a little. But bisecting across merges is tough anyway.

[2015-01-27 14:06] jmf commented on #3336
The bug didn't occur on my computer with nvidia graphics, it occurs on my laptop though.
Maybe it was only working due to an unclean working directory on the nvidia one, I will check that out when I got time.

[john@adrastea pioneer]$ glxinfo | grep OpenGL
OpenGL vendor string: Intel Open Source Technology Center
OpenGL renderer string: Mesa DRI Intel(R) Haswell Mobile
OpenGL core profile version

[2015-01-27 18:19] clausimu commented on #3337
I tried again - now it works! That's bizarre! I do have the data/lang/equipment-core/en.json file. No special lua scripts or files. I did have a music mod installed. But trying again (with or without the music mod) everything worked. I will have to keep an eye out for this. Right now at least I can't reproduce it.

[2015-01-27 19:54] clausimu commented on #3331
I think someone smart needs to take a look at my script again (see previous post). I just reduced the number of ships by 5 (20 * population) to make it easier to track each ship. Starting at Barnard's star I see 1 or two ships. Both get stuck upon landing each time. If that does happen every time a ship lands (using my script) - maybe there is something wrong with my script, rather than the game i

[2015-01-28 23:51] clausimu commented on #3331
I think I have it traced down to catching onAICompleted versus onShipDocked. If I proceed after onAICompleted is triggered (after having given the AIDockWith command), the ship never changes status to "Docked" but stays in "Docking" flight status (even though physically it has landed - and even after sitting for a long time). If I proceed after onShipDocked is triggered (also after having given th

[2015-01-29 19:04] corundscale commented on #3331
Does it work for all ships now, or do you still have a population that fails to dock properly, but doesn't cause visible problems because they no longer attempt to undock without being docked?

[2015-01-29 21:43] clausimu commented on #3331
As of right now I have not seen another ship that got "stuck" in the docking process.

[2015-01-30 00:52] ralfy12 opened #3338 "error when warping to another system"
![untitled-1](https://cloud.githubusercontent.com/assets/10765945/5969304/19f61d46-a876-11e4-8390-49628c7deed7.jpg)

I get this message in the latest Win32 version whenever I try to warp to another system, everything else in the game runs fine, I can go to other planets and space stations within a particular system, land, etc. Never gotten this reaction before until now

[2015-01-30 15:45] impaktor commented on #3336
Just like a married couple, I don't have much to add that hasn't already been said, but to project the illusion of a successful life together, I took git bisect out for a ride today on our drive way to impress the neighbours. These are my findings:

6a0423e8132d60b49cff51f2a626db12a606e10c compiles, had the bug
825918d42b59c1c32d259a16017c8c8d9412fa2d linker error
84ef0d774640011340e45d2774a10e21d

[2015-01-30 16:16] impaktor commented on #3336
Seems like I'm not good enough for anything other than taking out the trash (read: "close issues"). I was wrong in my findings, updated the list accordingly, in the "__Edit__". I reached the same conclusions as @fluffyfreak.

(I want a divorce.)

[2015-01-30 18:33] fluffyfreak commented on #3336
I'll try to find time to do a `make clean` build this weekend and see if that changes anything.

@impaktor do you still get the bug with @robn new #3339 PR?

[2015-01-30 19:13] impaktor commented on #3336
Oh, I haven't tried. Will test on Monday, if no one else beats me to it.

[2015-01-31 09:43] eloquentmess commented on #3280
Uploading another version as I type this.

[2015-01-31 09:49] eloquentmess opened #3340 "CTD after starting new game on Earth [Mac]"
An assertion failed in the GetLight function in graphics/Renderer.h, line 87.

Here's the generated error:

    Assertion failed: (idx<=4), function GetLight, file ./../graphics/Renderer.h, line 87.
    Abort trap: 6

Here's the dump:

    Process:               pioneer [4902]
    Path:                  /Users/USER/*/Pioneer.app/Contents/Resources/./pioneer
    Identifier:            pioneer
    V

[2015-01-31 10:02] fluffyfreak commented on #3340
What is extra scary about that is that the test should be `(idx<4)` not `(idx<=4)` so something must have gone very wrong!!!

[2015-01-31 10:44] fluffyfreak commented on #3340
@eloquentmess what star system were you in when this happened? How many stars were there?

[2015-01-31 10:51] fluffyfreak commented on #3340
From looking at `RendererGL` I suspect that the `m_numLights` is never being initialised.
The question then becomes why not? However I can create a fix for the crash itself.

[2015-01-31 11:04] fluffyfreak commented on #3340
@eloquentmess if you can give #3341 a test that would be great.

[2015-01-31 11:46] fluffyfreak commented on #3340
Ok this should definitely have been fixed by #3341 however this hasn't been closed and I haven't heard back from @eloquentmess since it's only been an hour :)

Lets keep this issue open until he's had a chance to reply.

[2015-01-31 12:08] fluffyfreak commented on #3338
I've not been able to reproduce this yet.
@ralfy12 what systems were you jumping to and from? It might help me figure it out.

[2015-01-31 23:44] ralfy12 commented on #3338
starting a new game, going from Earth warping to NN 3877. Also from Ward Outpost in the Ethze system to Gliese 638. I've accepted jobs from each origin point to those systems

[2015-02-01 10:45] impaktor commented on #1320
Lets take it in: http://pioneerspacesim.net/forum/viewtopic.php?f=4&t=312

[2015-02-01 10:45] #1320 closed

[2015-02-01 14:04] ralfy12 commented on #3338
I think I've resolved it.

I'd kept a few community made dds skybox texture files in my skybox folder. Vuzz's Milkyway, etc, just stuff I accumulated to give the game a different look... I just deleted them and left the original default.dds file, now it works fine. Looks like the program might have been trying to load them, don't know why as i've had them there for a few months and regularly updat

[2015-02-01 14:09] fluffyfreak commented on #3338
Ah yes, it will try to load a list of cubemaps and they should work. Something might be broken though as I haven't tested them in a very long time.

[2015-02-01 16:02] fluffyfreak commented on #3336
@impaktor I just grabbed the latest on my LInux box, did a `make clean` and `sudo make -j4` and it now runs fine without any glitches.

Might be worth trying latest and cleaning to see if your problem goes away like @jmf did.

[2015-02-01 16:05] impaktor commented on #3338
Is the error in the skybox or in pioneer?

@ralfy12 could you please provide us with the sky box, in case we want to test?

[2015-02-01 16:06] impaktor commented on #3336
Will do, first thing tomorrow.

[2015-02-02 08:02] impaktor commented on #3336
Works.

[2015-02-02 08:02] #3336 closed

[2015-02-02 08:04] impaktor commented on #3337
@victort does it work for you? If not, could you please try the latest build?

[2015-02-02 14:12] ralfy12 commented on #3338
I downloaded the collection from pebblegardens collection. I just tested them out, didn't really use them and so I left them there. I never had CTD issues with any version earlier than the Jan 20th/21st build of Pioneer for Win32 so I didn't see any point in deleting them. I also deleted the default.dds file in the skybox collection zip file and used Vuzz's Milkyway texture as the default.dds file

[2015-02-02 15:10] eloquentmess commented on #3340
I'll test it now.

[2015-02-02 15:42] eloquentmess commented on #3340
Still crashing. Here's the info from the point I clicked "Start from Earth."

    Creating new galaxy generator 'legacy' version 1
    Clearing and re-using previous Galaxy object
    StarSystemCache: misses: 0, slave hits: 0, master hits: 0
    SectorCache: misses: 101, slave hits: 0, master hits: 1
    Sol:
        height fractal: Ellipsoid
        colour fractal: StarG
        seed: 1685209112

[2015-02-02 15:44] fluffyfreak commented on #3340
Damn, I'll have to try debugging it on my MacMini. Not done any actual debugging on it before!

Weirdly there should be no place where it tries to pass a value outside the range 0..3 anywhere in the code :(

[2015-02-02 16:05] laarmen commented on #3338
We've changed something about how the skybox is rendered recently (what
exactly, I couldn't tell), that would explain why it started to crash all
of a sudden.

On Mon, Feb 2, 2015 at 3:12 PM, ralfy12 <notifications@github.com> wrote:

[2015-02-02 16:10] laarmen commented on #3340
Last time I had a similar bug, it was because of a silent conversion to unsigned int in a substraction, in case that helps.

[2015-02-02 17:49] impaktor commented on #3338
Does the fact that old skyboxes crash the game hint at an underlying bug, or is this expected?

[2015-02-02 17:59] impaktor commented on #3331
@clausimu Could you please clarify what you mean by your use of "proceed"? I'm afraid I don't quite follow.

[2015-02-02 18:09] fluffyfreak commented on #3338
Not expected.

[2015-02-02 18:58] fluffyfreak commented on #3338
Strangely I've just tried those mods and everything seemed to work ok :(

[2015-02-02 22:36] clausimu commented on #3331
I'm sorry for not being clear. With "proceed" I mean call the next function in the script (handling the loading/unloading of the ship and then undocking from the starport). If I wait for the onShipDocked event and then follow this with loading/unloading/undocking everything seems fine. If I wait for the onAICompleted (after having told the ship to dock via the AIDockWith command) event and then tr

[2015-02-02 23:19] ralfy12 commented on #3338
oh well, thank you anyway. It's worked fine for me since deleting the files and the latest update. If it does up end like that again, i'll let you know.

[2015-02-03 12:56] #3314 closed

[2015-02-03 21:26] walterar commented on #3240
It seems that the only one who can solve this issue is @fluffyfreak  The bad thing, is that I got used to enter my car into the garage in reverse. Hi Andy  :))

[2015-02-05 01:52] clausimu opened #3343 "Too many stars in sky background"
Something changed with the sky background recently. There are many more stars and they seem much smaller. The disadvantage is that it is getting too noisy and distracting (especially in dogfights, when you are trying to follow the crosshairs, etc.). Can the number of stars be reduced - or even better, the brightness and "crispness" be reduced to make it more of a background feature?

[2015-02-05 08:15] impaktor commented on #3343
This is a feature, and not a bug: #3321.
#2813 added support for optional skybox/backgroundm but we decided not to merge it.

[2015-02-05 10:52] fluffyfreak commented on #3343
It might need tweaking however, it's set to 100,000 stars at the moment.

[2015-02-05 11:55] walterar opened #3344 "Design error in docking sequence, orbital_station"
http://youtu.be/X_XE2xdpO5g

[2015-02-05 11:57] walterar commented on #3240
Replaced by #3344

[2015-02-05 11:57] #3240 closed

[2015-02-05 12:02] walterar opened #3345 "Red alert in recovery saved games."
This happens sometimes and can be seen at the beginning of the video. You need to load it twice.
http://youtu.be/X_XE2xdpO5g
The video is from Pioneer Scout+, but this also happens in the Pioneer clean motor. I was lucky to capture it.

[2015-02-05 12:27] fluffyfreak commented on #3345
Did the comms window not work the first time? it's hard to tell.

[2015-02-05 12:35] walterar opened #3346 "Incomplete final animation sequence in docking, surface station"
A design error easy to see.

[2015-02-05 12:50] walterar commented on #3345
When loading the first time: Red Alert. Exit and reload: Green Alert.

[2015-02-05 13:11] walterar commented on #3331
Years ago I observe the same as @clausimu  and @corundscale The adjust of  final sequence of docking is critical and no one has been able to solve yet.

[2015-02-05 13:17] fluffyfreak commented on #3340
Ok well I just fetched the latest master and built on OSX but everything worked fine. At 12fps but otherwise fine.

[2015-02-05 17:17] jameydeorio commented on #3340
Seconding this error. Exact same output on Yosemite 10.10.2 when starting from Earth or New Hope, but not Barnard's Star.

[2015-02-05 17:30] jameydeorio commented on #3340
build: git 50c25a6

[code]

[2015-02-05 20:13] impaktor commented on #3340
as far as I can tell, no new merges have been made to the code since @eloquentmess reported that it still crashes, 3 days ago.

[2015-02-05 20:36] #3337 closed

[2015-02-05 20:39] impaktor commented on #3337
No answer (yet), and I'm quite confident this is just something with a wonky install, or a superposition of two pioneers of different age on top of each other.

_What did I just write?_

[2015-02-05 20:47] impaktor commented on #3343
Well, stars will change again to [real ones](http://pioneerspacesim.net/forum/viewtopic.php?f=3&t=302) (I hope).

But first we need a volunteer to write a script for parsing astronomical data; an old script in python is available as starting point

[2015-02-05 21:44] walterar commented on #3343
I wonder ... How many stars would put the old Stanley?
http://www.imdb.com/rg/VIDEO_PLAY/LINK//video/imdb/vi2388329497/

[2015-02-05 22:45] walterar commented on #3345
When the game was recorded, was in Green Alert (ALERT_NONE).
When he recovers, he is on Red Alert (ALERT_SHIP_FIRING). (incorrect)
I close and I reload, is on Green Alert (ALERT_NONE). (correct)

It is understood better now?

[2015-02-06 05:27] jameynakama opened #3348 "Need a way to exit fullscreen on OS X"
There doesn't seem to be a way to use any other app while in Pioneer full screen. I can't cmd-tab to my browser, for example, or use Mission Control or Exposé.

[2015-02-08 01:09] jameydeorio commented on #3340
Further info: building from source on Yosemite the autotools way works! The Xcode build must be busted.

[2015-02-08 11:40] fluffyfreak commented on #3348
Sorry we don't have any dedicated Mac developers at the moment. @EloquentMess does builds for us but, as far as I know, is not a programmer.

If you can, or if you know someone who can, fix the issue then I'll be happy to help integrate it into the game.

[2015-02-08 11:41] fluffyfreak commented on #3340
@jameydeorio ah ha! That's very helpful, thanks. I was building the autotools way as I always do.
I have never tried to build it using XCode.

[2015-02-08 19:18] jameydeorio commented on #3340
I've been attempting builds but can't get Xcode to stop complaining about SDL and some other libraries being missing.

[2015-02-09 14:07] impaktor commented on #3340
libcurl-dev is also required. It's been added to the dependency list now.

[2015-02-09 15:15] eloquentmess commented on #3340
I've been building with the command-line tools. I built a script to automatically pull, compile, fix dependencies and assemble the app bundle. It's been working for a good while now, without any changes.

Have the dependencies changed for the code?

[2015-02-09 15:34] fluffyfreak commented on #3340
@eloquentmess do you have that script handy? I have no idea how to build the app bundle from the command-line build.

[2015-02-11 08:08] flashrocket opened #3351 "GL_INVALID_ENUM error on startup"
It shows this message on startup when run in intel haswell mobile
no issue in nvidia
opengl.txt
OS: Ubuntu 14.04 64bit
[code]

[2015-02-12 08:52] Reaper42 commented on #3271
I build with third-party libs and all ok.

[2015-02-12 08:52] #3271 closed

[2015-02-14 06:44] naclander opened #3352 "Won't compile o new version of autoconf"
I'm running Arch Linux, the current version of automake is 1.15. Pioneer refuses to compile because it requires 1.14.

[2015-02-14 06:54] robn commented on #3352
I'm stll on 1.11, and its going to take a little while to get something up that can run a newer one. Can you give me the output please? From `bootstrap` on. Thanks!

[2015-02-14 07:47] naclander commented on #3352
Sorry, for some reason I can't reproduce this anymore. I'll close this ticket until I can reproduce this behavior.

[2015-02-14 07:47] #3352 closed

[2015-02-14 15:26] Merkhaba opened #3353 "OSX Crash"
Crash when starting at earth

Process:               pioneer [895]
Path:                  /Applications/Pioneer.app/Contents/Resources/./pioneer
Identifier:            pioneer
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        sh [894]
Responsible:           Pioneer [892]
User ID:               502

Date/Time:             2015-02-14 16:22:37.695 +0100
OS Version

[2015-02-14 15:27] fluffyfreak commented on #3353
Closing as duplicate of #3340

[2015-02-14 15:27] #3353 closed

[2015-02-16 16:31] impaktor commented on #2567
OK, yet another year has passed, and now those lines of code don't exist any more.

Please re-open if I'm wrong in closing.

[2015-02-16 16:31] #2567 closed

[2015-02-17 15:28] impaktor commented on #3343
I think it is better to do a poll on space sim central to change number of stars, if that is something the players want.

The way it looks now is a feature until it is changed again, and it is indeed difficult to please everyone.

[2015-02-17 15:28] #3343 closed

[2015-02-24 22:26] clausimu commented on #3074
I just wanted to confirm that this is still happening (linux build from Feb 05 2015). I have ditched the autopilot and am trying to play a pure manual flight game. Until you reach the frame of reference for a space station it always jumps around very erratically. It may not matter for collision detection etc. - but it sure kills the mood... :)

[2015-02-25 16:07] fluffyfreak commented on #3343
As for the number of stars: http://upload.wikimedia.org/wikipedia/commons/5/5d/Zodiacal_Glow_Lightens_Paranal_Sky.jpg

[2015-02-28 01:55] walterar commented on #887
if attacker and attacker:exists() and attacker:IsPlayer() then -- NOT Crash! / NO BUG ;)

[2015-03-02 23:15] walterar commented on #887
The problem is not onShipHit event.
The problem is that "xx: exists()", "xx:IsPlayer()", etc, do not return nil when xx is nil.

[2015-03-03 21:18] fluffyfreak commented on #887
So the fix is that `TradeShips.lua` needs to have
[code]

and it will all work fine then?

[2015-03-04 02:57] walterar commented on #887
right

[2015-03-04 09:51] impaktor commented on #887
I'm not convinved. Feels like a hacky workaround of the actual problem described by @robn.

[2015-03-04 10:20] johnbartholomew commented on #887
I agree this is a workaround, but since it is likely to take quite a lot of effort/time to implement a better fix, I think we should do this anyway.

There may be other scripts that need this fix too, but I guess we can wait for people to report errors.

[2015-03-04 10:21] fluffyfreak commented on #887
I don't really care :) it's been open for more than 2 years without a fix, and there are always problems associated with keeping around "dead" objects so you can clean them up later - like references that they hold to other things and the references that _they_ then hold to other things.

This just stops the crash happening which is sometimes the best solution. It's simple, the bug goes away, and

[2015-03-04 13:17] walterar opened #3358 "Data folder is repeated within the data folder"
This is verified in the last release of linux version pioneer-20150205-linux64.tar.bz2 and pioneer-20150205-linux32.tar.bz2  in sourceforge

[2015-03-04 13:22] impaktor commented on #3358
Judging by the size of the file,  Windows and Mac seems to be OK.

Ping @robn

[2015-03-04 13:24] impaktor commented on #3358
If anyone wants to have a go:
@664c8f110d7b20c5b1a9fba3a2ad717efa169005

[2015-03-04 13:35] walterar opened #3359 "Labels disappear in the saved game"
Start game in London
See label
![label1](https://cloud.githubusercontent.com/assets/1334989/6484378/289306a4-c25a-11e4-8443-e0095720caef.png)

Save game
Recover game
![label2](https://cloud.githubusercontent.com/assets/1334989/6484385/3500b24c-c25a-11e4-802b-5d9d594b706e.png)

The label has disappeared

[2015-03-04 13:59] impaktor commented on #3359
Perhaps @nick-the-ninja is interested in this?

[2015-03-04 14:17] walterar commented on #3359
I have no doubt that the work you are doing @nick-the-ninja serve to discover many, many, like this problems. Perhaps the most serious and frustrating is #3345

[2015-03-04 16:43] nick-the-ninja commented on #3345
This has happened for JSONSerialise branch too (not surprising - as JSONSerialise serialises exactly the same data).
The cause of this (and similar issues) will be much easier to track down with a JSON savegame file.

[2015-03-04 18:17] walterar commented on #3345
Yes, that's what I think. Use your weapons! :))

[2015-03-04 22:50] nick-the-ninja commented on #3359
Also occurs for JSONSerialise branch.

[2015-03-06 10:02] Josephhun opened #3360 "Game crashes or does not load -1"
Hi!

After asking in IRC channel I have the problems down below:
If I run the game on intergrated graphics card, it crashes after one minute.
If I run the game on NVIDIA graphics card, it does not even start and gives: Could not create GL content error.

Laptop: i5-2450M, Nvidia GeForce GT525M

Error messages from output.txt:

Running with integrated graphics card:
Issue:  Crashes after just after

[2015-03-06 20:10] impaktor commented on #3360
Ping @fluffyfreak. Graphics card supports OpenGL 4.4.

[2015-03-06 21:19] fluffyfreak commented on #3360
Laptop, open nVidia control panel, manage 3d settings, set it to use "High Performance nVidia GPU".

Currently it's using the Intel iGPU. I think that they should work but for some reason they don't.

I'm currently trapped under a bus load of work for my job so don't have much spare time to look into this stuff in the detail it requires.

[2015-03-06 21:22] fluffyfreak commented on #3360
Ok, Intel situation looks like it run but then runs out of ram. How much ram do you have?
Try lowering the detail settings for planets, cities etc. If it's failing after a while then that's probably because it ran out of ram.
Also how much do you have set for the GPU to use?

For the nVidia... try updating the drivers that always seems to fix nVidia issues. Otherwise I have no idea right now.

[2015-03-07 17:17] walterar commented on #3343
There are still people who sees the starry sky in black and white :)
http://youtu.be/jrEpB7U1I_g

[2015-03-10 13:32] #887 closed

[2015-03-12 06:10] eloquentmess commented on #3340
I'm sorry guys, I've been so busy with school that I've been away from this project entirely. The script uses a few custom tools, but it shouldn't be hard to figure out how to get it running on another Mac. I'm not at that computer at the moment, but I'll try to get the code posted soon. It's not clean, it's not pretty, and it's not entirely rational, but it works well enough.

[2015-03-15 02:11] walterar commented on #3358
I suppose, by the size of the files, that this was fixed in the latest release. I close with OK.

[2015-03-15 02:11] #3358 closed

[2015-03-17 09:28] fluffyfreak opened #3362 "Joystick inversion, deadzones, axis bindings"
# The Problem:

For a long time we've had some [issues with Joysticks/joypads](https://github.com/pioneerspacesim/pioneer/search?q=joystick&state=open&type=Issues&utf8=%E2%9C%93) which make playing Pioneer less than fun using these times of controls. It's a common post on the [SSC forum](http://spacesimcentral.com/ssc/topic/4925-help-with-flight-system/) and the [developers forum](http://pioneersp

[2015-03-17 15:40] radius75 opened #3364 "Game freeze"
VSE2013 Release build 7901020258ca17ec8ee4fcce2d67da7535d5d7c3
- Run Pioneer
- Start at Earth
- F5 = freeze for long time (hear the ship engine)

If the game will move, it again freezes (after EXIT or SAVE)

Edit
Build 4becd2e871773c0196311e205cfe909bc0677710 works fine for me

Edit2
the problem starts here bf39e997590239d16612cdaf1e6a9ad503ee435d

[2015-03-17 16:03] impaktor commented on #3364
@nick-the-ninja just updated the save format. Are you sure it is a 100% freeze and not just a longer (auto)save time?

[2015-03-17 16:07] radius75 commented on #3364
Perhaps it autosave. But it takes about 80 seconds.

[2015-03-17 17:00] Duder963 opened #3365 "Crash when loading missions"
When I accept a bulletin board mission and then go to the mission tab, I get an error that crashes the game

[2015-03-17 17:53] fluffyfreak commented on #3364
Relax, there's nothing wrong with the code, it's running the game via Visual Studios Debugger [that is the problem](http://preshing.com/20110717/the-windows-heap-is-slow-when-launched-from-the-debugger/).

It's a little known feature of the windows memory allocator that they're actually fixing for VS2015 because it makes debugging slower and no-one knows how to use it anyway.

Go into the project

[2015-03-17 18:33] #3365 closed

[2015-03-17 18:42] fluffyfreak commented on #3365
@Duder963 was this not really a problem?

[2015-03-17 18:45] laarmen commented on #3364
Mmmmh, that would explain a few performance issues I've had at work
today, actually ! Thanks for the tip, @fluffyfreak.

[2015-03-17 19:48] fluffyfreak commented on #3364
@laarmen yeah it can really hammer STL containers when debugging in vs2013 :(

[2015-03-18 07:59] fluffyfreak commented on #3362
@nick-the-ninja, here's the issue since you mentioned interest in it :)

[2015-03-18 08:00] impaktor commented on #3365
Using an old save, from previous (incompatible) version of pioneer, perhaps?

[2015-03-18 14:57] nozmajner opened #3366 "Missing specular highlights"
The specular highlights aren't showing up in the game. I noticed this while one of my students was trying to create the spec texture for his model. @fluffyfreak you might find it interesting. :D
It seems to affect all models. I've tried to replace the spec .dds with a .png, but no change. I've also tries to change the specularity color in the .model file, but it won't do anything either.
I'm on wi

[2015-03-18 15:05] fluffyfreak commented on #3366
Interesting, and bad! I'll try to take a look tonight, probably just me doing something stupid.

[2015-03-18 16:23] fluffyfreak commented on #3366
Ok, I took a look whilst my work was compiling and I can see what's going on here but I cannot yet see why.

It's finding the Light attributes before and after (aka diffuse and position) but no the specular, so that never gets set.

[2015-03-18 20:50] fluffyfreak commented on #3366
It would appear that it is treating the shininess value differently in the OpenGL 330 shader than it was under the old one.

[2015-03-18 21:28] fluffyfreak commented on #3366
Ah, I think I might have it now. Worryingly it seems like the normal matrix calculation has been wrong since the update to OpenGL 3.0, not wrong enough to be noticeable all the time but subtley wrong.

Trying to figure out the maths, simple as they are, now and fixing it.

[2015-03-18 21:38] nozmajner commented on #3366
Stupid Noz and his visuals, right? ;D

[2015-03-18 21:41] fluffyfreak commented on #3366
Hah! Stupid me and making a mistake in the maths :)

[2015-03-18 22:37] fluffyfreak commented on #3366
OK, I'm getting closer but there's still some odd stuff going on, not fixed yet will have to continue another day/night.

[2015-03-18 22:39] fluffyfreak commented on #3366
@nozmajner I think you actually found quite a major bug here! It just doesn't show up so clearly.
I can actually fix it with a tiny bit of extra maths in the shader itself, generating the `uNormalMatrix` in the shader instead of passing it in.

However whenever I pass it in from the code it is broken!

Either our maths libraries are doing the calculations wrong, or passing it to OpenGL is broken,

[2015-03-19 08:23] nozmajner commented on #3366
Collateral upside of incorporationg Pioneer modding into my curriculum. I don't know how long it would took me to notice, if the kid doesn't notice that nothing happens when he changes the spec textures.

[2015-03-19 08:29] fluffyfreak commented on #3366
Awesome idea incorporating it into your curriculum!
Get feedback on the game too ;)

[2015-03-19 08:57] impaktor commented on #3366
You could always show your students this issue, and they get a sense about how FOSS development (and github) works, and how feedback leads to bug fixes, provided there is a @fluffyfreak in every project. :)

[2015-03-19 10:27] #3366 closed

[2015-03-20 20:55] fluffyfreak commented on #3364
Actually integrating dlmalloc into pioneer with vs2013... has proven to be a screaming pit of madness.
Once I got it as far as trying to link, and that took an hour, things went really wrong.

I might try again at another time.

[2015-03-21 12:23] walterar opened #3369 "Error compiling shader"
[..]
error: Error compiling shader: shaders/opengl/planetrings.vert:
0(120) : error C7011: implicit cast from "vec4" to "vec2"
OpenGL vendor: NVIDIA Corporation
OpenGL renderer string: GeForce GTX 650/PCIe/SSE2

[2015-03-21 14:04] walterar commented on #3369
Verified after the fusion of #3367

[2015-03-21 14:07] fluffyfreak commented on #3369
Strange that I didn't see this before, will fix it asap

[2015-03-21 14:20] #3369 closed

[2015-03-21 14:21] fluffyfreak commented on #3369
@walterar there you go, should be fixed now :)

[2015-03-21 14:21] impaktor commented on #3345
@walterar was this bug fixed by #3355?

[2015-03-21 14:27] walterar commented on #3345
@Impaktor Fixed in Linux, not in Windows

[2015-03-21 14:42] walterar commented on #3345
Verified in latest version for Windows compiled by me with MXE and VS2013. The latest version for Windows published in http://sourceforge.net/projects/pioneerspacesim/files/pioneer-20150319-win32.7z/download not incorporate #3355

[2015-03-21 23:48] walterar commented on #3369
This error is gone, thanks.

[2015-03-22 11:34] impaktor commented on #2749
...and that was done in #3279, and works very well

[2015-03-22 11:36] impaktor commented on #3364
So this "Game freeze" issue is solved, by disabling a debug flag in Microsoft visual studio, right?
Close?

[2015-03-22 11:39] fluffyfreak commented on #3364
It kind of is, but I want to keep this open a while longer, I'll assign it to me as well.
There shouldn't be a freeze but there's no way to distribute a fix for it because of the way MS have implemented it so I've looked into alternative memory allocators but they have issues with visual studio, linking, dlls etc...

So it's ongoing.

[2015-03-22 11:40] fluffyfreak commented on #3345
So @robn we need a new windows build doing then is what you're trying to say?

[2015-03-22 11:46] nozmajner commented on #3345
I mentioned this on IRC before, but let me note this here next to a build call. :)
The latest two windows builds (0314, 0319) are still showing 20150201(50c25a6) version number in the main menu, and and it seems that the new features (headlook for example) aren't showing up in them.

[2015-03-22 12:11] robn commented on #3345
Noted, I'll check as soon as I can.

[2015-03-24 20:28] fluffyfreak commented on #3364
I have noticed whilst testing #3372 on my Mac Mini that OSX suffers this long freeze as well. Clearly they have an intrusive debuggin (`or just shit`) memory allocator as well.

[2015-03-31 08:04] impaktor commented on #2867
@nick-the-ninja had a lot of fun with Json in #3355. Perhaps moving faction definitions to Json would be of interest? Am I wrong in assuming it would not be as big undertaking as that project was?

[2015-03-31 08:37] fluffyfreak commented on #2867
It should be *much* easier than #3355 :)

[2015-04-02 08:45] nozmajner opened #3376 "openGL error(s) during frame: GL_INVALID_OPERATION (April's 1 build, not a joke :) )"
openGL error(s) during frame: GL_INVALID_OPERATION error dialog pops up after the loading progress bar finishes. It might be interesting (= frustrating :) ) for @fluffyfreak
Widows build: 20150402, Windows7 rig with NVidia GPU.
It says 20150201 (50c25a6) in the main menu (like the last two build of March, but those don't give that error dialog.)
After it finished loading:
![opengl_error](https://c

[2015-04-02 12:25] robn commented on #3376
Updated compiler in the build host seems to have fixed it. Please test 20150403 when it appears in a few hours and let me know how it goes.

[2015-04-02 13:03] nozmajner commented on #3376
You guys are awsome.

[2015-04-02 13:56] nozmajner commented on #3376
20140403 build works. Closing.

[2015-04-02 13:56] #3376 closed

[2015-04-02 14:05] nozmajner opened #3377 "Headlook rotates the cockpit model oddly"
I noticed that the headlook rotates the cockpit model oddly in the opposing direction. I was able to do an almost 180 turn to it by rotating the view around about three times. Happens on both horizontal and vertical rotation.
@dvolk might be interested in this. :)

A gif about it:
https://lh6.googleusercontent.com/-zNEH0s3S48A/VR1LRcmvR9I/AAAAAAAADxY/mB8AQ4UuALI/s2048/mouselook_cockpitrot.gif)

[2015-04-02 14:11] fluffyfreak commented on #3377
hah cool! nice gif too.

[2015-04-02 20:02] theobromine opened #3378 "Game crashes to desktop, first run, Windows 8.1"
The Error - http://i.imgur.com/gTDNT63.png

Output.txt --
ver 20150403 (76b75fa) on: Windows

Hardware information:
  		OEM ID: 0
  		Number of processors: 8
  		Page size: 4096
  		Processor type: 586
  		Minimum application address: 10000
  		Maximum application address: 7ffeffff
  		Active processor mask: 255

Windows 8
SDL Version 2.0.3
Initialized OpenGL 3.1, with extensions, renderer
termina

[2015-04-02 20:05] nozmajner commented on #3378
Hmm. I had the same issue today. Stopped at the same place (output.txt)
Could you try to go in the data/models/ directory and delete all .sgm files you find in the subdirectories?
That fixed it for me (although that was a test build, and the offical build didn't needed that to work).
Just to verify if it's the same thing.

[2015-04-02 23:02] robn commented on #3376
:+1:

[2015-04-03 04:53] theobromine commented on #3378
I have deleted all .sgm files under data/models/ and sadly the application still dies with the same error.
Are there any other that I should try to delete?
I am running the official build.
Could you possibly upload the test build that you mentioned for me to try? Visual studio is giving me trouble compiling.

[2015-04-03 12:01] fluffyfreak commented on #3378
Todays released build works ok for me, I just downloaded it. The [20150403 build](http://sourceforge.net/projects/pioneerspacesim/files/pioneer-20150403-win32.7z/download) is the latest so is that the one you're having trouble with?

[2015-04-03 16:40] icarito commented on #3055
Same here, no sound on Debian 8.
ldd shows no SDL link.
Using pioneer-20150319-linux32.tar.bz2

[2015-04-12 14:49] mrjones1 opened #3379 "Mac version game crashes as you start"
Hi there, just downloaded the Mac version of this. I'm running on a mini mac i7 with Yosemite. Game menu all ok but as soon as you try to start a game it crashes. Can any one help? Thanks MJ

[2015-04-12 15:11] impaktor commented on #3379
Hi!
We need more info than thant, please have a look at our [FAQ](http://pioneerwiki.com/wiki/FAQ#How.2Fwhere_do_I_report_my_bug.2Fcrash)

[2015-04-13 08:39] mrjones1 commented on #3379
Hi there, sure no problem. Here is the error reading:

Process:               pioneer [382]
Path:                  /Applications/Pioneer-2.app/Contents/Resources/./pioneer
Identifier:            pioneer
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        sh [381]
Responsible:           Pioneer [378]
User ID:               501

Date/Time:             2015-04-13 09

[2015-04-13 14:33] mrjones1 commented on #3379
Hi, just found out I can get it working if I don't start from Earth??

[2015-04-13 14:45] impaktor commented on #3379
That's valuable information, I think, since @fluffyfreak recently optimized rendering of city buildings, and should be of interest to him.

[2015-04-13 15:45] mrjones1 commented on #3379
Yes, It definitely crashes if I start on any planet (not just Earth). But fine if I start from Barnard star or something.

[2015-04-13 16:10] fluffyfreak commented on #3379
Can you try to open the config file for pioneer and set the "DisableEclipse" value to 1 then test again?

I'm afraid imcon holiday in Budapest so don't have access too a pc for a week.

[2015-04-14 11:22] mrjones1 commented on #3379
Nice, hope holiday going well. I do not have a clue where config file is on mac. Used to easily with pc software.

No worries, I'm in no rush to cruise the stars. Is the game complete now ie trading and other ships ect? That would be amazing.

[2015-04-14 11:35] impaktor commented on #3379
Location of config file for Mac is mentioned in the FAQ I linked to above.

There is no telling how "complete" the game is. Look in Changelog.txt to see what is implemented each month, and look (here) at issue tracker for bugs and feature requests. We have ships and trade and missions.

For now, you could play the game just going between orbital ports, if that doesn't crash the game. And to be fai

[2015-04-14 16:16] mrjones1 commented on #3379
true, will do. And thank you for an excellent free game. I remember elite and Frontier when I was young but I was  a little bit young to get in to it though I have always been fascinated with space travel. Looking forward to cruising the cosmos in my downtime.

[2015-04-15 09:30] Slayo commented on #3048
![broken](https://cloud.githubusercontent.com/assets/11958747/7155634/9a697370-e3a3-11e4-9ab4-c502555a490d.png) [pic of two ships overlapping.  this is the type of station that has just 6 landing pads]

when i approach this type of station and the alert picks up a ship i begin to dread what is probably about to happen.  then when i'm directed to landing pad 2 i know for sure i'm screwed.  what see

[2015-04-15 22:58] CarlThrust opened #3380 "PSS Economy page."
Planet economy page stays on earth status on all planet selections. I am using Linux Mint 64bit setup and the 64 bit version of Pioneer. Reloaded PSS multiple times from different download sights. Can someone please point me in the right direction.
P.s. Bravo on what you have accomplished so far.

[2015-04-16 08:06] jmf commented on #3380
Can you please tell us, what has to be done to reproduce this bug?
Like: "Press button A, choose menu entry B" etc.
Also, which versions have you tested?

[2015-04-16 21:50] CarlThrust commented on #3380
Thanks for responding.
    I tried many versions of Pioneer and PioneerSP.
All were of the autolosding type. Last night I started over by compiling the install manually. I started by installing all the support programs then compiled from git. Everything seem to install correctly and the game works fine. Always the same issue, I can activate each planet on the planet page but the economy and democr

[2015-04-16 22:13] ShamblerDK commented on #2548
I just jumped to a system that was labeled as inhabited, but when I got there I saw no possible stations to land at. When I look at the details for the system, it even says which imports/exports they have...

I am now stuck in an uninhabited system, labeles as inhabited, without fuel. This sucks :-(

[2015-04-17 06:11] nozmajner commented on #2548
What's the name and coordinates of the system?

[2015-04-17 06:16] nozmajner commented on #3380
The Economy tab shows the economy of the whole system. Planets aren't differentiated in that regard.
When you select a planet, you just set it to navigation target.

[2015-04-17 08:26] impaktor commented on #3380
Yeah, I'm having problems understanding the bug description. Perhaps a screenshot, and a description of expected behavior, but as nozmajner I think this is probably not a bug being described but a feature.

[2015-04-17 08:27] impaktor commented on #2548
This is a known bug.

[2015-04-17 11:24] fluffyfreak commented on #2548
@impaktor it is? I wasn't aware of it. Do you have the name and coordinates of a system where this happens?

[2015-04-17 11:53] mouthy75ks commented on #2548
That sucks.  Maybe u should test out systems ur self and not listen to
busters ;).  Left at 6:00am. Must be doing something right.

Michael
On Apr 17, 2015 1:11 AM, "Szlrd" <notifications@github.com> wrote:

[2015-04-17 12:02] fluffyfreak commented on #2548
@mouthy75ks this is a procedurally generated game, there are BILLIONS of systems in the game, you cannot test them all. Imagine this is just one system in every 1000 that has the problem, that's still 10's of millions of systems that have it, but you might not find one even if you try 1000 times.

@ShamblerDK knowing the name and system/sector coordinates would be very helpful thanks.

[2015-04-17 12:05] mouthy75ks commented on #2548
That's the spirit!!

Michael
On Apr 17, 2015 7:02 AM, "Andrew Copland" <notifications@github.com> wrote:

[2015-04-17 12:26] impaktor commented on #2548
@fluffyfreak I was probably remembering the issue which you fixed/alleviated in #2968.

[2015-04-17 12:32] fluffyfreak commented on #2548
wow, @impaktor I'd actually forgotten that I wrote that :D

[2015-04-17 13:56] CarlThrust commented on #3380
My mistake. I assumed each planet in the solar system required different commodities. This sim, each solar system is a state. Issue closed. Thanks.

[2015-04-17 13:56] #3380 closed

[2015-04-17 15:35] fluffyfreak commented on #2548
@ShamblerDK also let try and get you out of that situation.
If you press the console key, it's usually the one to the left of the '1', and enter the following:

That will give you 7 tonnes of Hydrogen so you can hyperspace away. This is assuming that is enough hydrogen & that you're using hydrogen of course. Change the amount '7' if you need more of less.
This will also give you a warning message

[2015-04-17 15:41] ShamblerDK commented on #2548
Thanks Flyffy!

I just reloaded the game at the time, but I will most definitely use your tip next time. I had it happen twice, over the course of two evenings, so it is by no means a unique occurrence. Previous responses reflect this fact, so that's good I guess :-)

I'll report system name here, next time it happens, which I am sure it will.

Kind regards,
ShamblerDK

[2015-04-17 16:13] fluffyfreak commented on #3377
Got a fix for this now :)

[2015-04-17 16:22] fluffyfreak commented on #2548
@ShamblerDK ok that'd be great if you can because right now I don't know where to start looking :)

If you can note the "sector" that it's in that would also be a big help, you can find it by pressing 'F2' and it is in the bottom-left corner which gives the sector itself. Or by pressing 'Ctrl+i' and it should be 5 digits like '[-1, 0, 0, 0, 1]' near the middle of the screen on the line for 'Rel-to

[2015-04-17 16:49] #3377 closed

[2015-04-18 09:05] mrjones1 commented on #3379
Update on that last problem with the mac version. It also crashes if I go any where near any system with planets. Looked in config but have found there was no disable eclipse in the file.

[2015-05-05 18:43] impaktor commented on #3142
http://news.discovery.com/space/alien-life-exoplanets/hell-on-super-earth-extreme-exoplanet-volcanism-spied-150505.htm

[2015-05-06 07:29] cccpxx78 commented on #3287
Hello laarmen,
I'm a newcomer to the game and codebase (but not new to c++ programming) and i would like tot contribute to this project.
I had a look at the code and the spec and I think I understand most of what needs to be done.
Roughly estimating, given the time I can spend on this, it will take me a few weeks to have some presentable code (I can only  spend about 1 maybe 2 night per week on th

[2015-05-06 07:45] impaktor commented on #3287
@cccpxx78 Hi! We'd love to have you on board. As far as I know, @CmdrBugbear has dropped off the face of the Earth, so as far as I know this is up for grabs. (You can also find us on IRC.)

[2015-05-09 02:14] walterar commented on #3048
This is another flavor of the same bug which also causes #3331

[2015-05-09 06:17] victort commented on #3362
I just noticed I cannot bind joystick axes to thrusters, so I thought i'd :+1: this,

:D

[2015-05-09 09:25] impaktor commented on #3048
@Slayo Thanks for reporting, that helps.

Try removing `data/modules/TradeShips.lua` ?

[2015-05-10 12:19] cccpxx78 commented on #3287
Hi all, I pushed some code to my fork of pioneer. Could someone have a look to see if what I'm doing is going in the right direction or is even in correct part of the code?

If general idea of what i'm doing is somewhat OK, I know that at least these issues need to ironed out on a c++/project level (the logic and how it will be used is far from finished):

Some questions at this point
- locking ne

[2015-05-10 14:59] impaktor commented on #3287
Equipment are handled in Lua nowadays (used to be in C++), so the idea was to implement it in data/libs/Equipment.lua I think. @laarmen correct me if I'm wrong.

Otherwise, great to see that you've worked on this. And Lua is easy. Just some minor pitfalls for C/C++ coders, like table index starting on 1 (by default), and how `nil != false`.

[2015-05-10 15:17] cccpxx78 commented on #3287
Ok thanks for the feedback, I had the impression that what I was doing was wrong.
I'll have a look at the lua code in Equipment.lua

[2015-05-10 19:54] nozmajner opened #3386 "Mods don't override sgm files (no sgm in model)"
Not sure if it's considered a bug, but while I was fiddling a bit with the default cockpit model, that if the prebuilt sgm file is present for a model, than a mod doesn't override it if it doesn't have it's own sgm file in the mod.
This might be confusing in a very few cases, but I thought I report it just in case, and to document it.

[2015-05-11 13:07] impaktor commented on #3360
@Josephhun did you get it to work? Have you tried the latest version?

[2015-05-11 17:41] laarmen commented on #3287
Yeah. The rule of thumb for this task is that if you open a cpp file,
you're doing it wrong. I'm currently on my mobile, but if you can come by
IRC later tonight, I'll be able to answer your questions.

Welcome, and kudos for picking this up.

Le dim. 10 mai 2015 à 17:17, cccpxx78 <notifications@github.com> a écrit :

[2015-05-12 07:29] laarmen commented on #3287
OK, so. In my opinion the first step is to add the new slot "sensors". This should be a one liner in EquipSet.lua, plus maybe some adjustments in the ships json definitions (a scout should have lots of sensor slots).

As a side note, this issue is just about providing the equipment frame for the sensors. @impaktor, have you made an issue for your side of the story yet? :-)

[2015-05-12 19:09] fluffyfreak commented on #3386
Ah, yes I can see how this would happen.
Not much we can do about it because the game doesn't know when it getting a mod file or an original. Or even a mod file which is overriding another mod's file.

Erm, I can only suggest that we always ship sgm's with mods. Maybe a note for the FAQ or mod questions?

[2015-05-12 21:08] nozmajner commented on #3386
Yeah, I just thought I mention it to document it. How do you compile .sgms exactly? I'll extend the wiki mod section with that info too.

[2015-05-13 17:33] cccpxx78 commented on #3287
@laarmen sorry I couldn't make it to IRC yesterday.  I will make sure to join the channel when I'm working on this but I can't be on irc all the time (maybe in the future when I set up a VM-screen-ircII-ssh session I can be online more).

Thank you for the input, I have  taken the first step as you mentionned and pushed to my fork.
If I got it right this time, what could be the next steps (if any)

[2015-05-13 20:52] Raiz1337 opened #3387 "Can't load saved games in Arch-based distros"
When i try to load a game in pioneer the game crashes immediately, i asked people @ the IRC they told me to post this on the issue tracker (( Note: this issue is only for Arch-based distros ))

[2015-05-13 21:10] Tichy commented on #3387
I can confirm this.

Just started from Earth, heading to Uranus. Saved. Loaded. Switched to max time acceleration. In a couple of seconds the game crashed leaving these messages on console.

[code]

This is my savefile.

https://app.box.com/s/135nhm2kga41ek5crmjqilov95m1y2zs

Pioneer is compiled on my machine using the AUR package.
https://aur.archlinux.org/packages/pioneer-git/

[2015-05-14 08:50] impaktor commented on #3387
Are you both on Arch "Stable"?
I know Arch Testing just got GCC 5.0. If that can have something to do with it?

[2015-05-14 10:11] laarmen commented on #3287
No problem.

So, this was the easy part.

Now, the hard part: the design. In any case, your BodyScanner object will have more methods than the typical EquipType. You have two choices.

  * First, you can just create the BodyScanner as you did, and add the methods on the fly. This is the easy way, but each time we'll add a new sensor we'll have to copy-paste your code and adapt it to the new sensor

[2015-05-14 10:24] Tichy commented on #3387
On 2015-05-14 10:50, Karl F wrote:

I'm on stable.

[2015-05-14 15:08] cccpxx78 commented on #3287
I cleaned up the commits and pushed to a new branch 'sensor'.
I added the interface functions directly on bodyscanner object, i.e. the easy way
These functions only have a simple first implementation that doesn't do much.
Fixed the DESCRIPTION and name confusion in the translation table.

Next steps could be:
- on BeginAcquisition get nearest body - altitude (and scan start time?)
- the updating o

[2015-05-14 20:24] laarmen commented on #3387
Do you compile the game or use the pre-built thingy?

[2015-05-15 07:32] Tichy commented on #3387
On 2015-05-14 22:24, Simon Chopin wrote:

Pioneer is compiled on my machine using the AUR package.
https://aur.archlinux.org/packages/pioneer-git/

Which is an automated way to clone the git repo, compile it and build a
binary package.

[2015-05-15 09:35] jmf commented on #3387
I can confirm this on my arch, too.
I am compiiling from git repo manually.
Stable archlinux, Linux 4.0.1-1-ARCH #1 SMP PREEMPT x86_64
gcc 4.9.2
Lua 5.2.4

`pioneer: LuaTable.h:100: LuaTable::LuaTable(lua_State*, int): Assertion '(lua_type(m_lua, (m_index)) == 5)' failed.`
`Aborted (core dumped)`

[2015-05-15 11:38] laarmen commented on #3287
Sure, go for it.

I don't think we have up-to-date documentation anywhere on the Web, but an old version can be found at http://eatenbyagrue.org/f/pioneer/codedoc/files/LuaBody-cpp.html

About the coding style : we're a bit fuzzy on that front, esp. for the Lua side. Just try to mimic Equipment.lua coding style and you should be fine :-)

The Lua target version is 5.2. If you can write it to also

[2015-05-15 11:40] laarmen commented on #3387
What about when using an old version ? Like ab02e8604047440193dfad3046e9094e0a0fb439

[2015-05-16 13:23] Raiz1337 commented on #3387
There's no stable arch, lol, i get pioneer from the AUR (( It's compiled from the source code using PKGBUILD script )).

[2015-05-16 15:28] jmf commented on #3387
@Raiz1337: There is no real "stable" version, but there is a testing repository. It contains software that isn't compatible with everything in the other repos. It contains gcc 5, for example, while gcc 4.9.x is current in the other repos.
When you use the AUR script, you can insert some commands to revert it to an older version.
Or you could just git clone it, revert to an older version and compil

[2015-05-21 17:54] cccpxx78 commented on #3287
Hi @laarmen, I did some style cleanup in the lua.
I also added an UnPauseAcquisition method; PauseAcquisition moves the state from RUNNING to PAUSED, but I don't see when to move from PAUSED back to RUNNING? Unless the function should act as a toggle?

Something else I was thinking is that now the altitude is calculated to the center of the body (I think) should I compensate for the radius of the

[2015-05-21 23:36] laarmen commented on #3287
My comments below are without looking at the code, nor even at the
original issue, so bear with me :-)

(oh, and I might be slightly sleep deprived)

Quoting cccpxx78 (2015-05-21 19:54:26)

I'm guessing you made the right call. The specs were mostly a guideline
anyway. However, it might be worth documenting all this formally,
perhaps on the wiki (and of course in the code itself)? Of course,
docum

[2015-05-22 07:42] impaktor commented on #3287
I told @cccpxx78 to do the meter bar in c++, as well as the on/off button, since that is where all other code is that does the same, so just duplicate what we have.

To go into new-ui territory is asking too much I think since none of the in-house devs cracked that nut yet, we should not scare @cccpxx78 away.

[2015-05-22 10:41] laarmen commented on #3287
Quoting Karl F (2015-05-22 09:42:17)

Oh ye of little faith!

[2015-05-22 22:54] cccpxx78 commented on #3287
ok, got it. I added an OnClear function too.

[2015-05-26 12:56] laarmen commented on #3287
Feel free to open a PR for the equipment part even if you don't consider your work as ready. It will allow us to review it in a more efficient fashion (I'll tag it as WIP and assign it to myself).

The UI part should go into another part, and I'm designating @impaktor as volunteer for that one ;-)

[2015-05-26 16:26] jmf commented on #3387
Here's a backtrace of the bug:
http://pastie.org/pastes/10208384/text?key=skybbd6hndq3jyy4r00ehq

[2015-05-26 16:37] Tichy commented on #3387
Another backtrace
http://sprunge.us/LiPP

[2015-05-27 08:52] laarmen commented on #3387
@jmf I can haz a try on an older version ? ab02e86 would be a fine candidate.

[2015-05-28 17:15] jmf commented on #3387
ab02e86 seems to work.

[2015-05-29 06:18] laarmen commented on #3387
OK, now we're getting somewhere. Would you be willing to bisect this for us
to narrow down when the bug was introduced ? I glanced over the git logs
without finding any obvious suspect !

Le jeu. 28 mai 2015 à 19:15, jmf <notifications@github.com> a écrit :

[2015-05-30 12:11] fluffyfreak commented on #3379
This is that bizarre `GetLight` assert again, I just spotted it in the log posted above.

There's something very very odd about the Mac OSX builds that causes this because there's nothing in the code that can set a value in there that isn't between 1 and 4.

[2015-05-30 12:22] fluffyfreak opened #3388 "Too many stations packed into one orbit."
There are too many space stations being packed into an orbit and it looks a bit rubbish.

They should be better spaced out and if possible in a variety of orbits.

The problem was caused by #2973 and reported here [596](http://spacesimcentral.com/ssc/topic/2116-wanted-new-screenshots/?p=53674) by Marcel.

[2015-05-31 16:55] fluffyfreak commented on #3379
Ok since this is the same issue as #3340 lets close this one and move the discussion back into there.

[2015-05-31 16:55] #3379 closed

[2015-05-31 16:56] fluffyfreak commented on #3340
Apparently this is still happening even for the latest builds (#3379).

I think we need to figure out how to bundle a build into an app so we can supply new OSX builds asap.

[2015-05-31 17:00] fluffyfreak commented on #3340
A quick Googling presents us with:
A [StackOverflow answer](http://stackoverflow.com/questions/1596945/building-osx-app-bundle/3251285#3251285) which looks very good.
The [mozilla OSX bundle](https://developer.mozilla.org/en-US/docs/Mozilla/Projects/XULRunner/Creating_custom_app_bundles_for_Mac_OS_X) pages.
And some [random pascal(?)](http://wiki.lazarus.freepascal.org/Application_Bundle) page

[2015-05-31 18:11] fluffyfreak opened #3390 "Spacestations should not be evenly spaced in a single orbit."
Spacestations should be better spaced out and if possible in a variety of orbits.

Better spacing could be satisfied with a more random approach to distribution so that they're not all perfectly spaced and are clumped together, or at least semi-randomly distributed, instead.

More orbits means splitting them across a variety of orbits and inclinations.
Orbital selection should also check to verify

[2015-06-01 06:35] SilkyPantsDan commented on #3340
I think I've got a working build with Xcode now in my fork for the Mac build, and have confirmed it running on a couple of Mac minis at work. Just need to figure out the process for pull requests and build chain.

Currently links against a few libraries in the third party repository, and builds into a self contained app.

[2015-06-01 07:31] SilkyPantsDan commented on #3348
This might be an issue in SDL, will see if I can find out anymore information

https://bugzilla.libsdl.org/show_bug.cgi?id=1908
https://bitbucket.org/rude/love/issue/629/cant-command-tab-in-fullscreen-on-os-x-108

[2015-06-01 07:45] impaktor commented on #3340
@eloquentmess you can build on mac, so if you have time, perhaps you could share your wisdom and/or just push a working branch/script to your github?

[2015-06-01 16:11] fluffyfreak commented on #3340
@SilkyPantsDan that's great news :)

[2015-06-01 19:24] walterar opened #3391 "CTD in start game with Chinese language"
OpenGL version 3.1.0 NVIDIA 331.113, running on NVIDIA Corporation GeForce GTX 650/PCIe/SSE2
Available extensions:
Shading language version: 1.40 NVIDIA via Cg compiler
  GL_AMD_multi_draw_indirect
  GL_AMD_seamless_cubemap_per_texture
  GL_ARB_arrays_of_arrays
  GL_ARB_base_instance
  GL_ARB_bindless_texture
  GL_ARB_blend_func_extended
  GL_ARB_buffer_storage
  GL_ARB_clear_buffer_object
  GL_AR

[2015-06-01 19:30] impaktor commented on #3391
From the title of this issue, should we assume it works when selecting english or spanish language?

[2015-06-01 19:52] #3388 closed

[2015-06-01 19:58] walterar commented on #3391
Happens in my pc (es.json) when Pioneer Chinese language change (zh.json). Someone else will happen?

[2015-06-01 20:20] walterar commented on #3391
This is an old known difficult to catch:
pioneer: VertexBufferGL.cpp:61: Graphics::OGL::VertexBuffer::VertexBuffer(const Graphics::VertexBufferDesc&): Assertion `m_desc.numVertices > 0' failed.

[2015-06-02 13:32] #3390 closed

[2015-06-02 15:12] dreadk2002 opened #3393 "I18N: Language genres and articles"
In certain languages, there are articles and genres and thing need to be written a bit different for each genre and or article. There should be (there is) a better way to integrate these articles using parameters. Right now everything in other strings + equipment is very dinamic and very rigid at the same time. This mechanism should allow these slight differences to be introduced by having some sp

[2015-06-03 08:53] impaktor opened #3398 "A `DistanceToSurface()` function might be useful."
We have a `DistanceTo()` which is relative the center of the body, but we also could use a `DistanceToSurface()` implemented on the c++ side and exported to Lua, just like `DistanceTo`, for planets that take surface terrain into account, as @laarmen thought it be a good idea, for #3395.

Hint:
- Look at `DistanceTo` in LuaBody.cpp
- Look at the altitude thingy (somewhere), which should prove to be

[2015-06-03 12:01] cccpxx78 commented on #3398
@impaktor : I can take this up next week i think

[2015-06-04 15:39] cccpxx78 commented on #3398
@impaktor I saw that there is already a function, GetGroundPosition, that returns the latitude, longitude and altitude of a LuaBody of type TERRAINBODY.
I could create a new DistanceToSurface function in LuaBody that returns the altitude only but is still needed?

[2015-06-04 15:52] impaktor commented on #3398
No. I opened this issue in reply to the question you asked the other day, on if calculating distance to surface should be done in place in the Lua code. So I'd suggest you make use of this `GetGroundPosition()` in your Lua scanner to get the distance.

I'll close this.

(We did suspect there already was a C++->Lua method for getting surface distance, but apparently it wasn't the `DistanceTo`, so `

[2015-06-04 15:52] #3398 closed

[2015-06-05 03:57] flashrocket commented on #3055
20150512-linux64 has the problem

[2015-06-05 06:51] flashrocket opened #3399 "Game crashes on startup"
Game crashes on startup spewing this
[code]
This happens after commit *adcd02da2fc22373742ba2a898f6e92c087fcef3*

[2015-06-05 08:13] flashrocket opened #3400 "Cannot load saved game"
Start the game. save. now load and game crashes
[code]

[2015-06-05 09:14] impaktor commented on #3400
Sounds like #3387

[2015-06-05 09:17] impaktor commented on #3399
Sounds like a case for @fluffyfreak

[2015-06-05 10:27] impaktor commented on #3387
so @jmf reported that fff40798a981ddefbc699b0b5a19bb56a8ca6be4 is the first bad commit. Which is pretty strange.

That would mean that adding Cargo run mission did not break it two commits earlier, so 903b2e0fe37118ab048e2b97d7c06186552512e7 works? @jmf could you please test that commit a bit?

[2015-06-05 10:55] fluffyfreak commented on #3399
Yeah, this is my bad, I recognise that line of code.

[2015-06-05 15:00] eloquentmess opened #3401 "Need scripts for automatically compiling and building app bundles for Mac."
I wrote some scripts to build on Mac. Now I need to upload them and clean them up a little so I can give them to you all.

[2015-06-05 15:01] eloquentmess commented on #3401
I just reformatted my Mac so it's a good opportunity to write the "how to" guide for compiling for Mac. I'll create the guide and upload my scripts ASAP.

[2015-06-05 15:09] impaktor commented on #3401
Perhaps have a look at #3397 and see if that is thumbs up or if you have done things in a different way?

[2015-06-05 16:33] impaktor commented on #3399
I get the same on OpenSuSE.

[2015-06-05 16:35] impaktor commented on #3399
e67617b181207a608be4a3684112437468f83e17 works.

[2015-06-05 21:41] johnbartholomew commented on #3399
I have a fix for this; I'll make a PR soon.

[2015-06-05 22:29] eloquentmess commented on #3401
I've created an empty App Bundle shell and a .md document which explains how to create the Mac App Bundle from scratch. I believe that both files should be added to the repo in the root directory. As for scripted builds and uploads, my scripts are pretty ugly, and you guys might be able to make something better, so I'll just worry about uploading the manual instructions for now. Everything can be

[2015-06-05 22:30] eloquentmess commented on #3401
(I'd add these files myself, except I don't recall how to do all the git commit stuff.)

[2015-06-05 22:32] eloquentmess commented on #3399
The app also crashes on startup for Mac. I get the following error:

[code]

[2015-06-06 07:42] impaktor commented on #3401
That's awesome work @eloquentmess.

However, seems like I can't access the files without logging in or something. Is it possible to make the access public / viewable to all, or am I doing something wrong?

[2015-06-06 08:59] #3399 closed

[2015-06-06 09:09] johnbartholomew commented on #3399
Should be fixed now on master.

[2015-06-06 09:10] johnbartholomew commented on #3400
Should be fixed now on master.

[2015-06-06 09:10] #3400 closed

[2015-06-06 10:35] eloquentmess commented on #3401
[Fixed the link.](https://drive.google.com/file/d/0B-NGCFl5t09ZLV84NDB6Vktub2M/view?usp=sharing)

[2015-06-06 10:37] eloquentmess commented on #3401
If we can simply add the two files contained within the zip archive to the Pioneer root directory (where the README.md is located) then that ought to be enough for anyone to be able to manually compile and build via Mac.

[2015-06-06 10:38] eloquentmess commented on #3401
(One of the files is actually a folder -- Mac's app bundles are just folders with the .app extension which contain required files.)

[2015-06-06 13:34] laarmen commented on #3387
Can anybody confirm the issue has been fixed ?

[2015-06-06 13:46] impaktor commented on #3387
worth mentioning we have a new build out with the fix, for anyone who want's to test it
http://pioneerspacesim.net/download

[2015-06-06 18:25] eloquentmess commented on #3401
This script will automatically update, compile and build the latest Pioneer App Bundle for Mac, assuming the setup steps have already been performed:

[code]

[2015-06-06 18:26] eloquentmess commented on #3401
(Note: There is no error handling in that script.)

[2015-06-06 18:43] impaktor commented on #3391
I'm not sure I've understood what is being reported. Perhaps this will clear my confusion:
1. You get no crash when playing on english language?
2. You get no crash when playing on Spanish language?
3. You get no crash when changing between Spanish and English?
4. You do get a crash when starting a new game if language is Chinese?
5. How often does it crash? Every time you try number 4 above or on

[2015-06-06 21:25] walterar opened #3404 "When you retrieve a saved game, stations and ships disappear."
Linux. After #3402

[2015-06-06 22:40] walterar commented on #3391
@impaktor You can run the latest version of Pioneer?

[2015-06-06 22:45] walterar commented on #3404
@johnbartholomew I'm happy that you're there, do not go yet. :))

[2015-06-07 03:20] impaktor commented on #3391
Before jpab's fix yesterday with #3402 I could not. I haven't tried the latest version since I'm not at the right computer until tomorrow. I'll get back to you then.

[2015-06-07 15:17] johnbartholomew commented on #3391
Text on 3D objects is rendered using the `data/fonts/label3d.png` texture, which is a signed distance field rendering of the Orbiteer font. This font does not include Chinese characters. When the code tries to render text containing only Chinese characters, `Text::DistanceFieldFont::GetGeometry` gives geometry with no vertices, which triggers this assertion.

Backtrace:
[code]

[2015-06-07 15:42] johnbartholomew commented on #3404
Yes. The save system seems to be broken.

[2015-06-07 16:13] #3404 closed

[2015-06-07 16:16] johnbartholomew commented on #3404
Should be fixed now, but the bug was in the game save code, so saves made after #3402 and before @f8f5da52e4f06ac8e6f7af11d92f0ea5f8b3eda2 will be corrupted and will never load correctly.

[2015-06-07 18:54] walterar commented on #3391
#3405 resolve this, thanks John :+1:

[2015-06-07 18:54] #3391 closed

[2015-06-07 18:56] walterar commented on #3359
#3406 resolve this, thanks John :+1:

[2015-06-07 18:56] #3359 closed

[2015-06-07 19:12] walterar commented on #3360
@Josephhun  It is very likely that # 3405 resolve this. You want to check?

[2015-06-08 08:57] impaktor commented on #3391
@walterar that was a quite a find you did, considering you're not chinese. :+1:

I don't know why you wanted to play pioneer in Mandarin, but we're glad you did, since there's zero communication with the chinese pioneer-community, sadly.

[2015-06-08 11:41] impaktor commented on #3378
I think this is outdated and not going anywhere, I say try again with latest build, if it crashes, open a new issue.

Closing.

[2015-06-08 11:41] #3378 closed

[2015-06-08 17:17] jmf commented on #3387
The latest git version still crashes.
I'll do a new git bisect as soon as possible, since it seems that my old bisect wasn't done correctly and post the results here.

[2015-06-08 17:32] johnbartholomew commented on #3387
Bisect may be misleading if the problem doesn't happen 100% of the time, or
if there are multiple bugs that produce similar crashes.

If possible, please get a stack trace. Even better, use valgrind or address
sanitiser to help detect the problem(s) more reliably.
On 8 Jun 2015 6:17 pm, "jmf" <notifications@github.com> wrote:

[2015-06-08 19:04] johnbartholomew commented on #3387
Ok, I'm now getting what looks like the same crash that was posted by Tichy and jmf, it just happened a while after I loaded a save-game. I guess I fixed some other unrelated problem :-P

[2015-06-08 19:47] johnbartholomew commented on #3387
@jmf, could you test #3407?

[2015-06-09 16:39] impaktor commented on #3360
Silence means yes.
Closing.

[2015-06-09 16:39] #3360 closed

[2015-06-09 16:41] impaktor commented on #3351
Maybe @fluffyfreak has some thoughts on this?

[2015-06-09 16:47] impaktor commented on #3338
__In summary:__ We can not reproduce the crash, nor can the original poster, who no longer get the crash, so I'm putting this down as solved for now, although keeping an eye out for if this happens again.

Thanks for reporting.

[2015-06-09 16:47] #3338 closed

[2015-06-09 17:17] impaktor commented on #3275
__Summary:__ OP has not been heard from since the first post, his graphics card should work, jasondude had similar issues, but not anymore, pioneer ran slow after opengl 3.1 (and new space stations I assume?) upgrade of pioneer, but everything works better now.

Plus there were even more optimizations merged after latest post in this issue 6 months ago, so nothing more to do here, I think. Closing

[2015-06-09 17:17] #3275 closed

[2015-06-09 18:33] impaktor commented on #3280
_Summary:_ we definitely had some bug on Mac back in December, but new builds for Mac have been made since, and we have not heard anything back when wanting to confirm with OP that they work for him too. 6 months later: Closing.

[2015-06-09 18:33] #3280 closed

[2015-06-10 08:59] fluffyfreak commented on #3351
No but I guess I'll have to try and work it out ;)

[2015-06-10 12:45] fluffyfreak commented on #3344
Does this happen in regular Pioneer as well or is it unique to Scout+?

[2015-06-10 23:58] walterar commented on #3344
It happens in my PC, not in yours?

[2015-06-12 09:02] #3387 closed

[2015-06-13 21:11] DevinJAM opened #3408 "Windows 8.1"
I just got Windows 8.1 and a new laptop. I downloaded the game and I got the file but it wont open. like it don't have a program to open or recognize it even. how do I get the game?

[2015-06-13 23:37] nozmajner commented on #3408
You need 7zip to unpack it.

[2015-06-14 01:13] DevinJAM opened #3409 "Crashes when i try to load a saved game."
every time I try to load a saved game or click continue it crashes.

[2015-06-14 01:24] johnbartholomew commented on #3409
This is most likely caused by a bug introduced by #3402 (specifically, @86952d04407cf33319ac699b439463f02f8b0a5c) and fixed by @f8f5da52e4f06ac8e6f7af11d92f0ea5f8b3eda2.

What version of the game are you running?

[2015-06-14 06:52] impaktor commented on #3408
Since you obviously got it running (#3409) -> closing.

[2015-06-14 06:52] #3408 closed

[2015-06-14 08:48] impaktor commented on #3409
This _is_ the bug, since the new build (20150614) with the fix merged wasn't out at the time of this issue being opened, thus he must be at the 20150609.

The first build with the bug fix merged has been released just now, please use that one instead:
http://pioneerspacesim.net/download

[2015-06-14 16:47] flashrocket commented on #3351
It seems this issue is fixed in recent git.

[2015-06-14 16:47] #3351 closed

[2015-06-14 16:49] johnbartholomew commented on #3409
Apparently there is another crash bug that only occurs on Windows, so the 20150609 build is also broken. I'm investigating the cause of that now.

[2015-06-14 17:13] impaktor commented on #3409
Just for correctness: you mean 20150614.

[2015-06-14 18:08] fluffyfreak commented on #3409
Not seeing this crash in the downloaded version (20150614)

[2015-06-14 18:26] DevinJAM commented on #3409
The newistn one I downloaded yesterday and today. I just got my laptop yesterday. I downloaded the newest version today and I still am crashing everytime I load.
![pioneer crash error 1](https://cloud.githubusercontent.com/assets/5676075/8149852/d92cb79c-1298-11e5-88ea-014e8ed3bfa7.png)

[2015-06-14 18:35] johnbartholomew commented on #3409
So, there are two known problems since 2010609. One is #3404, which is caused by FloatToStr emitting garbage which of course doesn't load correctly. This should be fixed in 20150614.

The other is a crash reported by @nozmajner on IRC, which seems to only happen on Windows, and apparently doesn't happen for everyone (but I can reproduce it in Wine on Linux). This second problem is really weird and

[2015-06-14 18:49] DevinJAM commented on #3409
found a solution. I right clicked and went to property's and sit the compatibility to windows 7.

[2015-06-14 18:54] johnbartholomew commented on #3409
This seems relevant: [C library bug: Modifiers %jd %ju %zu not working](http://sourceforge.net/p/mingw-w64/bugs/377/).

[2015-06-14 19:06] DevinJAM commented on #3409
tested twice changing compatibility to windows 7 works.

[2015-06-14 19:10] johnbartholomew commented on #3409
@DevinJAM, could you upload one of the save files that crashes, and one that works, so I can see if they have the same type of corruption as @nozmajner is getting? If you have dropbox or google drive or something similar that'd be a good place to upload them, otherwise you could use something like [wikisend.com](http://wikisend.com/)

[2015-06-14 20:06] DevinJAM commented on #3409
I don't know were to find save files honestly. I know all the saves are working now.

[2015-06-15 08:05] impaktor commented on #3409
[FAQ - save files](http://pioneerwiki.com/wiki/FAQ#Where_is_the_configuration_file.2C_saved_games.2C_screenshots.3F)

[2015-06-15 21:03] fluffyfreak commented on #2325
We now have VSync enabled by default and no-one has reported this issue since.
Closing.

[2015-06-15 21:03] #2325 closed

[2015-06-15 21:03] fluffyfreak commented on #2299
Not seen or heard of this in the last 2 years, assuming that it's fixed and closing.

[2015-06-15 21:03] #2299 closed

[2015-06-15 21:05] fluffyfreak commented on #1664
Closing.

[2015-06-15 21:05] #1664 closed

[2015-06-15 21:06] #1629 closed

[2015-06-15 21:09] #2477 closed

[2015-06-15 21:19] fluffyfreak commented on #987
Docking has been rewritten since this bug was reported and we have different stations now. Closing.

[2015-06-15 21:19] #987 closed

[2015-06-15 21:19] fluffyfreak commented on #2504
Is this still a problem?

[2015-06-15 21:37] nozmajner commented on #2504
Looks a bit different (no terrain at all), but yes.
Also note the difference in distance to the target next to the target bracket and the display on the dashboard. (0.24 AU - 0.53 AU) (this was reported in  #3335 )
![screenshot-20150615-233308](https://cloud.githubusercontent.com/assets/4182678/8171293/1888490a-13b7-11e5-9b9f-18abdc045335.png)

[2015-06-15 23:02] walterar commented on #3344
I'll give you a hint: The ships enter of aft in the new orbital_station.

This also happens, of course, in Scout+

Question, this happens only in my pc? Or nobody cares?

[2015-06-16 12:46] laarmen commented on #3344
Wait, did you just say it only happens in Scout+? The question of whether is happend on vanilla Pioneer is crucial: we shouldn't need to install a third-party mod to do some troubleshooting. You need to come up with a way to reproduce this on plain old Pioneer.

[2015-06-16 13:35] walterar commented on #3344
This ALSO happens, of course, in Scout+

[2015-06-16 13:39] walterar commented on #3344
ALSO == ONLY ?

[2015-06-16 14:05] walterar commented on #3344
Make an effort and look carefully.  What you see? A ship incoming? or ship leaving?
![bad-entrance](https://cloud.githubusercontent.com/assets/1334989/8184917/83064ca4-1417-11e5-9368-f3c91e0b26a8.png)

[2015-06-16 14:07] laarmen commented on #3344
I meant no offense, man. It's just, you know, better safe than sorry (in the end, Andrew seem to have taken it upon himself)

[2015-06-16 14:43] walterar commented on #3344
There are none so blind as those who will not see.

[2015-06-17 09:17] fluffyfreak commented on #3409
So this needs platform specific compilation flags setting then? MSVC requires the "Iu" flag, MINGW32 requires "zu" except on windows 8?

Or we can define the USE_MINGW_ANSI_STDIO somewhere before stdio

[2015-06-17 11:48] impaktor commented on #3409
Perhaps relevant, said into the darkness Monday night:

[code]

also:

[code]

And, maybe suggest @robn downgrade our download page? To 20150512?

[2015-06-18 14:15] mr555ru opened #3412 "Loading a save crashes if there is jettisoned cargo."
With a segfault.

    Game::LoadGame('_jettison_crash_test')
    savefile version: 81
    Creating new galaxy generator 'legacy' version 1
    Clearing and re-using previous Galaxy object
    StarSystemCache: misses: 0, slave hits: 0, master hits: 0
    SectorCache: misses: 0, slave hits: 0, master hits: 0
    Epsilon Eridani:
        height fractal: Ellipsoid
        colour fractal: StarG

[2015-06-18 14:54] impaktor commented on #3412
[code]

[2015-06-19 18:25] johnbartholomew commented on #3412
I think this was broken by commit 85c1f2f10be3426082a753b0b4fe800185ed09df. Before this commit, LuaRef was loaded by LuaSerializer, which used `Lua::manager->GetLuaState();` to get the main Lua context for use in loading the value. Afterwards, it uses LuaRef's `m_lua` field, which is initialised to NULL in the 0-arg constructor.

Probably the easiest way to fix it is for LuaRef::LoadFromLua to be

[2015-06-19 18:51] johnbartholomew commented on #3412
Actually, the *easiest* way to fix it is to lazily initialise `m_lua` in `LuaRef::LoadFromLua` if it's NULL.

[2015-06-19 21:21] #3412 closed

[2015-06-21 12:25] TheQwak commented on #3340
Hi, I can confirm this error too.

On the current Mac build it crashes on start-up at a planet, or when approaching within ~2.8 AU of any planet. Dump below.

In the meantime, apart from Barnard's, does anyone know what, if any, systems have space stations without planets?

=====

Process:               pioneer [3409]
Path:                  /Users/USER/Desktop/Pioneer.app/Contents/Resources/./pion

[2015-06-21 14:49] fluffyfreak commented on #3340
Yep another case of:

Thanks.

[2015-06-25 17:41] walterar commented on #3409
Perhaps this is related. It happens when compiling on linux to windows with MXE:

BFD: jsoncpp.o: Unrecognized storage class 105 for *UND* symbol `__ZNSt6vectorIN4Json12PathArgumentESaIS1_EE19_M_emplace_back_auxIJRKS1_EEEvDpOT_'
BFD: jsoncpp.o: Unrecognized storage class 105 for *UND* symbol `__ZNSt6vectorISsSaISsEE19_M_emplace_back_auxIJRKSsEEEvDpOT_'
BFD: jsoncpp.o: Unrecognized storage class 10

[2015-06-27 00:50] robn commented on #3409
So the repro for this is straightforward - start at Barnard's Star, save a game, and then try to load it. I've been able to load an older save on master, which suggests the save path is at fault, but the crash is in load, which suggests its not handling some certain bogus case.

The MXE version of gdb doesn't run under Wine, so I did a bisect run using the above test case. It blames one of these f

[2015-06-27 01:52] jaj22 commented on #3409
FluffyFreak wrote: "So this needs platform specific compilation flags setting then? MSVC requires the "Iu" flag, MINGW32 requires "zu" except on windows 8?"

I think the rule is that MinGW uses msvcrt.dll, which may or may not support %zu, but always supports %Iu. Hence MinGW should not have an exception for SIZET_FMT: It should just use the WIN32 format specifier.

[2015-06-27 09:09] impaktor commented on #3409
[code]

[2015-06-27 10:31] johnbartholomew commented on #3409
I agree with JohnJ that we can (probably) fix it by removing the MinGW exception in libs.h, so that the MXE build uses `%Iu` for SIZET_FMT. If someone has the time to go through all our printf calls then another option is to never pass a size_t to printf; cast it to unsigned int and use `%u` instead, or cast to unsigned long and use `%lu`.

I haven't checked the git history, but I expect the reaso

[2015-07-02 07:37] zxcv186 opened #3415 "Error compiling shader, can't start game"
Error compiling shader: shaders/opengl/vtxColor.vert:
ERROR: 3:30: 'location' : syntax error parse error

OpenGL vendor: Intel
OpenGL renderer string: Intel(R) HD Graphics

opengl.txt
OpenGL version 2.1.0 - Build 8.15.10.2993, running on Intel Intel(R) HD Graphics
Available extensions:
Shading language version: 1.20  - Intel Build 8.15.10.2993
  GL_EXT_blend_minmax
  GL_EXT_blend_subtract
  GL_EXT

[2015-07-02 08:15] fluffyfreak commented on #3415
That GPU the "Intel HD" is returning an OpenGL 2.1 version, it looks like your GPU cannot run the game.

[2015-07-02 14:06] zxcv186 commented on #3415
well, what a bummer, guess I'll have to look for another laptop then.

[2015-07-03 11:31] #3415 closed

[2015-07-04 10:58] nozmajner opened #3416 "Support for arabic glyphs - font range setup"
@_Raiz started translating Pioneer to Arabic. The problem is, the text doesn't shop up, because neither Pionillium (Titillium), Inpionata (Inconsolata) or Orbiteer(Orbitron) have any arabic glyphs.

DejaVu Sans does have some, but I'm suspecting it's far from the full range of characters, but at least it's a start, until I find a better open aletrnative. @_Raiz, please check if any characters are

[2015-07-04 11:03] nozmajner commented on #3416
According to this site, DejaVu does a good basic job of it: http://laviefrugale.blogspot.hu/2011/08/a-few-good-open-license-arabic-fonts.html

Another two recommendation from that post:
Scheherazade and lateef from SIL: http://scripts.sil.org/cms/scripts/page.php?item_id=Scheherazade
and
Arabeyes: http://old.arabeyes.org/project.php?proj=Khotot

[2015-07-06 10:21] #3416 closed

[2015-07-06 19:24] nozmajner commented on #3409
A side question: shouldn't the game put the build number and OS in the save file, so it could be easier to track down issues in the future?

[2015-07-06 20:19] nozmajner commented on #3409
Also, from [Spatric's report on SSC] (https://github.com/pioneerspacesim/pioneer/issues/3409). He had a save from an uninhabited system, which can be loaded without problem. Not sure if it's actually helpful, but who knows, right?
I tried it (20150701) and I could also load a save I made in an uninhabited system.
[Spatric's working save](https://drive.google.com/file/d/0BxX_0iO8AY36UjhKWnJsSEVJdzQ

[2015-07-07 08:28] SpencerBelleau opened #3417 "More Text = Less Frames"
So for the record I'm running Win7 64 bit, 8GB of RAM, an ATI HD7870 and an AMD Phenom II X4 Black Edition @ 3.4Ghz.

Whenever text is rendered on screen I lose frames like crazy, to the point where opening autopilot can dip my framerate from a perfect 60 to sub-15. I'm not sure what's causing this but I have the latest proprietary drivers from ATI installed as well. Other than this the game runs

[2015-07-07 20:56] walterar commented on #3409
I tested for many hours, the solution suggested by jaj22.

--- /pioneer/src/libs.h
+++ /pioneersp/src/libs.h
@@ -49,11 +49,11 @@
 #endif

 #ifdef _WIN32 // MSVC doesn't support the %z specifier, but has its own %I specifier
-#	ifndef __MINGW32__
-#	define SIZET_FMT "%Iu"
-#	else
-#	define SIZET_FMT "%zu"
-#	endif
+//#	ifndef __MINGW32__
+#define SIZET_FMT "%Iu"
+//#	else
+//#	define SIZET_FMT "%zu

[2015-07-08 13:09] fluffyfreak commented on #3417
It's the text rendering. The autopilot-comms screen and some others use the old style text rendering which is very inefficient whereas the newer screens like stations-comms use the newer UI.

[2015-07-08 13:35] impaktor commented on #3417
I encouraged SpencerBelleau to open this issue since I had no such problem when I played on my very old low-tech openGL 2.0 computer, but now I realize text rendering has changed since the OpenGL bump to 3.1, right? Thus its not so strange that @SpencerBelleau's speed machine is under strain with 20150701, where my steam engine of a computer danced gracefully on 20141118 version.

[2015-07-08 13:46] fluffyfreak commented on #3417
Yes exactly, it's probably come in with the 3.1 change.

I did some optimisations to fix it up at the time if you recall but each vendors drivers handle these things differently. All my machines are nVidia except the Linux box and that uses open source drivers. AMD/Ati drivers are... very variable in their quality so it's hard to know what's causing slowdown when I don't see it myself :/

[2015-07-08 17:29] fluffyfreak commented on #3417
Having looked into it a little I think that it's because it's thrashing the buffers per frame and creating/destroying a great many of them per-frame.

[2015-07-10 08:16] impaktor commented on #3409
Closing since the fix #3418 is merged.

[2015-07-10 08:16] #3409 closed

[2015-07-14 12:36] #3287 closed

[2015-07-15 20:10] fluffyfreak commented on #3417
Reopening, seems I optimised a bunch of stuff but it didn't fix the cause of the issue. The joy of not being able to reproduce problems on your own hardware eh.

[2015-07-15 20:23] fluffyfreak commented on #3417
Starting to wonder if I can "borrow" an AMD GPU from work to test this.

[2015-07-15 23:03] SpencerBelleau commented on #3417
Yeah it's probably some dumb driver nonsense. AMD's pretty bad for that. If I had my old one I'd mail it to you or something.

[2015-07-21 11:05] fluffyfreak commented on #3417
I have merged in a bunch more optimisations but I'm not closing this issue until we know that I've fixed it.

All of this is because of the old GUI system :( I'd love to just fixup all of the screens and menu and ditch it entirely. Any volunteers?

[2015-07-23 21:07] Cradamy opened #3430 "Fatal Crash on Earth Starting Launchpad"
[code]

[2015-07-23 21:13] Cradamy commented on #3430
also happens at new hope but not at barnard's star, which implies it is an issue with planets or cities?

[2015-07-23 21:14] Cradamy commented on #3430
all my settings are set to maximum, textures are enabled and experimental cockpit is also enabled

[2015-07-23 21:29] Cradamy commented on #3430
update, when i got to within 1.34AU of barnard's star, it happened again

[2015-07-24 08:03] fluffyfreak commented on #3430
This is the GetLights() assert firing from #3340 that #3397 hopes to address if we can ever get it merged.
I'm afraid until that's done the OSX build is broken in this way :(

[2015-07-24 08:06] fluffyfreak commented on #3430
@Cradamy I'm going to close this as we're already tracking a PR to fix it and another report of it happening. Hopefully we should have it fixed soon. Thanks for the issue report though it's good to know when people are having this one!

[2015-07-24 08:06] #3430 closed

[2015-07-24 11:05] Cradamy commented on #3430
Thank you, *fingers crossed* hope it'll be merged soon

[2015-08-09 19:13] jmf opened #3436 "Pioneer window not showing when using ratpoison window manager"
When starting pioneer on ratpoison wm, the window doesn't show although the commandline output seems okay.
rm-r reported that issue. System specs:
Linux pacb0la 4.1.3-gnu-1 #1 SMP PREEMPT x86_64 GNU/Linux (Parabola)
ratpoison 1.4.8 (built Sep 23 2014 15:37:11)
pioneer git (4a3119c)
Output: https://bpaste.net/show/1b6838574396
I can confirm this issue with ArchLinux, equivalent specs.

[2015-08-09 19:35] fluffyfreak commented on #3436
You've got several interesting things there, first of all it fails to create a window with multisampling then tries again and, presumably, appears to succeed.

Then you've got a lot of ICMP profile errors from PNG files which is odd as we've fixed all of those in the currently committed png files. The first lot seem to be coming from the facegen/faceparts system.

Then facegen reports this: `FaceP

[2015-08-09 19:45] jmf commented on #3436
It seems that this is a known bug, which is somehow related to SDL fullscreen and ratpoison.
It doesn't appear in windowed mode. Since ratpoison uses borderless windows, there is no visible difference between screen-resolution windowed fullscreen, so setting it to windowed isn't a problem.
To solve the problem, go to ~/.pioneer/config.ini and set StartFullscreen=0 ,

[2015-08-09 20:18] fluffyfreak commented on #3436
That's good to know but all those other issues are still very strange.

[2015-08-10 08:46] impaktor commented on #3436
Those other errors just can't happen in master as I see it, so this feels like someone has cluttered up their pioneer build or mods.

[2015-08-10 14:49] cakenggt opened #3439 "Crash at '6.8 billion years'"
With a fresh install of pioneer 20150810 the game crashes when loading at '6.8 billion years'.

opengl.txt
[code]

output.txt
[code]

[2015-08-10 14:52] impaktor commented on #3439
Yes, this build is just a few hours old. Did previous version (which one?) of pioneer work for you?

[2015-08-10 15:05] cakenggt commented on #3439
Versions 20150715 and 20150710 fail at this point too.

[2015-08-10 15:42] impaktor commented on #3439
@cakenggt have you played pioneer earlier on that machine at all?

If so, do you know which version?

[2015-08-10 15:49] cakenggt commented on #3439
Yes, I played it with version 20140930. I thought that it might be the
common problem in the FAQ where the computer can't supprot OpenGL 3.1, but
I ran OpenGL Extensions Viewer and I get that I have OpenGL Version 4.0 and
Driver Version 3.0.0.0

On Mon, Aug 10, 2015 at 11:42 AM Karl F <notifications@github.com> wrote:

[2015-08-10 16:04] impaktor commented on #3439
Thanks. That's useful knowledge.

[2015-08-15 15:15] jmf commented on #3436
It could be, that the pioneer version that I listed in the first post isn't correct.
rm-r couldn't find out the version, so I listed my version and rm-r's output, since I had the same issue.
I didn't think that it would make a difference.
Here is my output:
https://bpaste.net/show/97537af83e13

[2015-08-15 15:50] impaktor commented on #3439
@fluffyfreak might have wisdom to share.

[2015-08-16 17:48] fluffyfreak commented on #3439
What happens at 6.8 Billion years? I've been trying it on the hardware that I have but it works.

I'm off on holiday tomorrow so won't be able to investigate until I get back when I will be a little bit busy catching up on work.

[2015-08-16 20:57] snwyvern commented on #3417
For what it's worth: I was having this issue as well, FX-8150 pushing a AMD R270. I run crysis3 in 3x 1080p; I added "DisableShaders=1" to my config file, which fixed the 1FPS on the mission menu while docked.

[2015-08-16 22:48] cakenggt commented on #3439
It gives me that windows dialog box that says "pioneer.exe has stopped
responding..." immediately when getting to that point, not after a long
wait like with other programs when they crash.

On Sun, Aug 16, 2015, 1:48 PM Andrew Copland <notifications@github.com>
wrote:

[2015-08-18 09:10] snwyvern commented on #3417
Correction: the low fps in the mission menus while docked came back after four or so runs.

[2015-08-18 09:39] impaktor commented on #3436
@jmf in your output you don't have any of the "weirdness" as in the first one from rm-r. Your output looks sane to me, and doesn't suffer form any of what fluffyfreak listed above. And since we now know what setting to use for ratpoison, the bug is in my opinion solved.

Also, rm-r struck me as very incoherent, difficult to understand / poor English (no offence if you're reading this rm-r), and qu

[2015-08-18 09:39] #3436 closed

[2015-08-22 22:45] nozmajner opened #3441 "Ground station landing and collision missing on Qulia Chou's grave (11 0 0)"
[Marcel stumbled upon a ground base in Scout+](http://spacesimcentral.com/ssc/topic/4211-things-related-to-scout/?p=54916), where it's impossible to land. It happens in Pioneer too.
He mentions different station names from what you see in Pioneer and there's only one, but that's most likely because they are generated differently.
You can't land on the ground base Mullen Station on Chou's Grave in

[2015-08-23 20:48] walterar commented on #3441
Similar
Wise Town, Ancequ (4,-2,-2)

[2015-08-24 03:52] Marcel-T commented on #3441
Interesting. I was thinking that because the system is procedurally generated from the system co-ordinates, the two zeroes might generate a divide by zero error or some such somewhere. Could the two -twos somehow procedurally generate the same sort of error?

[2015-08-24 19:07] clausimu opened #3442 "Landing on top of another ship without collision"
I just landed using the autopilot - and it set me down right on top of another ship (I am the Sinonatrix on the "bottom"):

![pioneer_problem](https://cloud.githubusercontent.com/assets/10633178/9449544/2be9fa5c-4a71-11e5-9c38-856e384618d8.png)

System/Starport: GJ 1103, Hermanville. There were 5 empty pads and one full one. The autopilot landed on the full one. No crash or collision.

I'm using t

[2015-08-24 19:10] impaktor commented on #3442
#2155

[2015-08-24 19:18] clausimu commented on #3442
Launching from "underneath" the other ship did cause me to crash into it, calling up the police, which killed me. Looks like a pretty mean alien type trap to me... :)

[2015-08-27 18:27] tomyun opened #3443 "OS X Homebrew formula"
I've just made a formula for the OS X package manager, [Homebrew](http://brew.sh/):

Homebrew/homebrew-games#329

It's not building an app bundle for you, but still easily installable by just typing `brew install pioneer`. If interested, please have a look and leave any issues or comments.

[2015-08-30 17:08] fluffyfreak commented on #3441
That's very strange. I'll have to dig into this one I think!

[2015-08-31 01:32] Marcel-T commented on #3441
I just remembered this. It may be related to this bug. It's from Scout Plus 23
![screenshot from 2015-07-17 21 42 24](https://cloud.githubusercontent.com/assets/730819/9570606/f4d51b72-4f44-11e5-99e6-a8b067ee9459.png)

[2015-08-31 13:29] fluffyfreak commented on #3441
I bet @johnbartholomew would be interested in this too, he's got a better idea of how the reference frames and things work than I do.

[2015-08-31 13:32] fluffyfreak commented on #3441
@Marcel-T that's not usually how the random generator works. It sums the sector coordinates along with other data, and a universe seed so there's always some entropy in there.

[2015-09-02 22:25] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to chastitychase.cc@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?

[2015-09-02 22:25] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to chastitychase.cc@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?

[2015-09-02 22:31] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to chastitychase.cc@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?

[2015-09-02 22:31] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to chastitychase.cc@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?

[2015-09-02 22:31] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to chastitychase.cc@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?

[2015-09-02 22:32] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to chastitychase.cc@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?

[2015-09-02 22:32] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to chastitychase.cc@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?

[2015-09-02 22:32] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to chastitychase.cc@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?

[2015-09-02 22:32] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to chastitychase.cc@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?

[2015-09-02 22:32] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to chastitychase.cc@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?

[2015-09-02 22:32] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to chastitychase.cc@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?

[2015-09-02 22:32] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to chastitychase.cc@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?

[2015-09-02 22:34] robn commented on #2548
Locking this issue temporarily until the spammer goes away.

[2015-09-03 20:42] nozmajner commented on #3443
Oh, nobody commented on this ever since? I guess because none of us have any apples around to properly test it, but let's shout them up anyway. :)
@impaktor @fluffyfreak @johnbartholomew

[2015-09-03 22:20] johnbartholomew commented on #3443
I don't have a system I can test this on, but we should probably mention it in COMPILING.txt

https://github.com/pioneerspacesim/pioneer/blob/master/COMPILING.txt

[2015-09-04 08:03] impaktor commented on #3443
I have no clue what any of this means. Is it like a build script for pioneer on Mac?
Is there anything we should do?

@tomyun could you suggest text to be added to COMPILING:txt?

[2015-09-05 00:32] tomyun commented on #3443
Just opened a PR for COMPILING.txt: #3447

[2015-09-10 16:13] impaktor opened #3449 "MXE build of Modelcompiler not working on Windows"
Just opening this to keep track of the, otherwise hard to find, discussion over in:
https://github.com/pioneerspacesim/pioneer/commit/f4c4ddd6cbe1d8735edfc6cb505197d7e88eeab8

[2015-09-11 15:46] ghost opened #3450 "Lua function GetEquipFree("cargo") is not behaving as expected"
I think the lua functions that return the space available for loading commodities don't take into account the loaded "extra" equipment that eats into the available space. The following is the output for a Xylophis outfitted with autospheric shielding and an autopilot (using up 1t of mass each), without any commodity cargo loaded. Real, in-game space to buy/load commodities is 8t.

[code]

Output e

[2015-09-12 08:33] fluffyfreak opened #3451 "Detail Texturing abort."
@fluffrabbit reported the following

In the #3448 commit thread.

Seems that I didn't check it on enough GPU's and platforms and as usual nVidia happily let me get away with out-of-spec GLSL usage.

Fixing it now, this issue is just to track what's going on.

[2015-09-12 09:12] #3451 closed

[2015-09-12 09:33] laarmen commented on #3450
I don't have the code in front of me right now, but this issue sounds
vaguely familiar.

The thing is, we have a slightly schizophrenic approach to the cargo
management. On one hand, we have the metric ton approach, which gives us an
upper limit as to how much *equipment* we can embark, including
commodities. On the other side, we have the cargo hull, which is strictly
designed to hold *commoditie

[2015-09-12 11:03] impaktor commented on #3450
Yes, we had an issue with this, #3117, where the fix was to change what the "free cargo bar" showed.

As I understand it, I don't think there's much to do in this issue, other than get cracking on fixing the inconsistencies in our schizophrenic volume vs. mass system. This is not a small task, and should be planned out first. Like what happens if you land on a planet with too much mass to take off

[2015-09-12 11:58] laarmen commented on #3450
(note that even if it were one of the core team, they'd still be volunteers
;-)

On Sat, Sep 12, 2015 at 1:03 PM, Karl F <notifications@github.com> wrote:

[2015-09-13 20:06] clausimu commented on #3450
Okay, let's call this a feature for now then. But for the non-core, still-needing-to-come-up-for-air-after-diving-into-pioneer-code people like me :-) - what is a way to determine the free commodity-cargo space available if I want to check if a certain tonnage of, say, hydrogen fuel can be loaded?

[2015-09-14 10:05] impaktor commented on #3070
Related: #770

[2015-09-17 17:08] cakenggt commented on #3439
The same crash happens at 6.8 billion on 20150912 as well.

[2015-09-17 17:24] impaktor commented on #3439
How is it, do we dump crash report into the [config dir](http://pioneerwiki.com/wiki/FAQ#Technical_FAQ)?

[2015-09-18 09:33] joonicks opened #3454 "Build fails in MSVC"
14>pch.obj : error LNK2005: "private: static int const Background::Starfield::BG_STAR_MAX" (?BG_STAR_MAX@Starfield@Background@@0HB) already defined in Background.obj
14>pch.obj : error LNK2005: "private: static int const Background::Starfield::BG_STAR_MIN" (?BG_STAR_MIN@Starfield@Background@@0HB) already defined in Background.obj
14>  exception_handler.lib(exception_handler.obj) : MSIL .netmodule

[2015-09-18 09:55] fluffyfreak commented on #3454
I've just tried this at work and it built fine with VS2013 Community Edition.

Is this a clean build? If not can you do a rebuild.
Is it the latest version of the codebase and is that a clean version with no changes?

[2015-09-18 10:14] joonicks commented on #3454
latest commit 416c11f075
@fluffyfreak fluffyfreak authored 6 days ago

freshly downloaded from github, no alterations, unpacked, loaded pioneer.sln and did "build solution".

[2015-09-18 14:18] joonicks opened #3455 "System information screen (F7)"
This info screen needs some loving.

Anol (-6, -24, -23) is a lovely blue giant with 11 stable bodies, which bodies that is, can not be found on the system information screen however.
![anolsystem](https://cloud.githubusercontent.com/assets/14345157/9961417/bcc1c48e-5e20-11e5-9eb0-884b3dc1ba8b.jpg)

[2015-09-18 14:40] joonicks opened #3456 "Crew for hire: empty"
Intended, or?
I dont think I would post on a BBS if I had nothing to offer,
Crew for hire: empty offer on Gates BBS right after starting a new game on earth.

[2015-09-18 14:47] impaktor commented on #3456
Well, it's random, so not sure if that will help reproduce it, but you could have a look at the code (data/modules/Crew) to see if you can think of why that could happen

[2015-09-18 14:49] fluffyfreak commented on #3454
Ok and you have the `pioneer-thirdparty` too?

[2015-09-18 14:52] joonicks commented on #3456
Imho, it shouldnt post unless there is atleast one crew to hire, so, I see it as a bug/flaw

[2015-09-18 14:55] joonicks commented on #3454
oh yes, it unpacks from github as pioneer-thirdparty-master but after renaming it, no issues there. f.ex. it makes the modelcompiler exe no problems. its only pioneer.exe that fails.

[2015-09-18 15:23] fluffyfreak commented on #3454
Right, I've created a quick branch and PR with what should be a fix that works across all platforms.

@joonicks please give it a test if you are able too and let me know if it builds.

[2015-09-18 15:41] joonicks commented on #3454
thumbs up. fix works fine. building now in msvc 2013 professional with only warnings, 15/15 successful.

[2015-09-18 15:49] fluffyfreak commented on #3454
Ok thanks @joonicks :)

[2015-09-18 15:49] #3454 closed

[2015-09-18 19:47] joonicks opened #3458 "Station manager == Player portrait"
Just started a new game (in Sol) and the London station manager is the players identical twin. Uncanny, hopefully this can be prevented in future portrait generation code. Portraits are the same, identical, not just similar. But thankfully names differ.

[2015-09-18 19:53] joonicks commented on #3458
Woops, restarted and it happened again, portraits are identical. Station manager name is same as last game but player name is new. Only after third restart is player portrait different.

[2015-09-19 07:45] impaktor commented on #520
We have the trade analyzer now. It does this, by colour coding the exports/imports compared between selected and current system.

[2015-09-19 07:45] #520 closed

[2015-09-19 07:49] impaktor commented on #520
#3081 to be precise.

[2015-09-19 08:13] impaktor commented on #2834
I wonder if we still have this problem? @robn, @dvol?

[2015-09-19 08:24] impaktor commented on #1967
reading (and trusting) what I said 1 year ago above, I'm closing this.

[2015-09-19 08:24] #1967 closed

[2015-09-19 08:30] impaktor commented on #1834
@robn Didn't you do that 1-2 years ago? @fluffyfreak did #3428, I leave it to you two to close this issue.

[2015-09-19 08:35] impaktor commented on #1421
@dodomorandi might be interested in this.

[2015-09-19 08:53] impaktor commented on #1227
Documented here: http://pioneerwiki.com/wiki/Network_features

Also:

[2015-09-19 08:53] #1227 closed

[2015-09-19 08:59] impaktor commented on #1058
Things have progressed over the past 3 years.  What's our status here, @fluffyfreak?  (sorry for spamming you today).

[2015-09-19 09:14] impaktor commented on #3455
Double of #2985, and #1052. -> closing.

[2015-09-19 09:14] #3455 closed

[2015-09-19 09:56] dvolk commented on #1421
The problem was that the orbit drawing didn't start at the planet's location. It's always started at the same point on the orbit.

[2015-09-19 11:38] fluffyfreak commented on #1058
I did look into improving the culling but ditched it in the end.
Since then I made building rendering use instancing which has dramatically improved performance even if we are drawing more building than we need too.

It becomes a tradeoff, spend more time on the CPU doing additional culling, but do you gain anything in rendering performance if that's now so fast anyway?

I think we can close this

[2015-09-19 11:38] #1058 closed

[2015-09-19 11:43] fluffyfreak commented on #1834
I think that there's a few things we need to do here.
1. Render-to-texture Billboard replacements for stars.
2. Specific star class derived from BaseSphere like GasGiants are with simplified rendering.

There's no reason for stars to need 140,000 poly's anyway :/

[2015-09-19 12:18] impaktor commented on #1189
In 1959, Sovietunion launched Luna 1 and Luna 2 crashes into the moon, Luna 3 sends back the first pictures of its dark side; US launched many satellites, like the first weather satellite, the first operational spy satellite, and Explorer 6 sends the first picture of Earth from orbit; in Siberia the [Dyatlov Pass incident](https://en.wikipedia.org/wiki/Dyatlov_Pass_incident) occurred; Hawaii and A

[2015-09-19 12:18] #1189 closed

[2015-09-19 12:25] fluffyfreak commented on #1189
What?

[2015-09-19 12:26] fluffyfreak commented on #1189
ah, 1959

[2015-09-19 17:49] joonicks opened #3459 "Low resolution scaling shipmarket"
At low resolution, shipmarket scales poorly. Because of the icons not being scaled at all?

Screenshot is 640x480

![scalebug](https://cloud.githubusercontent.com/assets/14345157/9977414/6c2e5234-5f07-11e5-9ee7-da58c1e26eb4.jpg)

[2015-09-19 17:58] impaktor commented on #3459
Yes, pioneer won't look optimal at _any_ resolution.
I don't consider this a bug.

[2015-09-20 12:20] dodomorandi commented on #1421
I opened a new PR (https://github.com/pioneerspacesim/pioneer/pull/3460). What do you think about it?

[2015-09-23 11:46] joonicks commented on #3345
bug still present in 20150912 build (windows)
specifically I got it after exiting hyperspace, "laser fire detected" with nothing but me and my hyperspace cloud around.

[2015-09-25 09:38] demolitions commented on #3456
I have looked into this, been able to reproduce, and want to contribute a fix, it is a very simple matter (currently the number of crew generated can be 0), but I wanted both the devs and your advice:
Is it better to:
1) have always at least one crew to hire at every station
2) not post the advert if no crew to hire is generated

In the meanwhile, I'm going to look out how to correctly make a cont

[2015-09-25 10:04] impaktor commented on #3456
@demolitions Hi! I definitely vote for number 2. And we love to have you on board as a contributor.

[2015-09-25 12:30] joonicks commented on #3456
maybe like this, generate 2 random numbers from -5 to 15 (example numbers), average them: to make extremes more unlikely, and if the result is below 1, dont post on the bbs, otherwise post the number of crew.

maybe it could take the population of the system into account?

[2015-09-25 12:43] impaktor commented on #3456
The correct and "full nerd" way to do it is how it is done in second hand module, although it is quite overkill: [SecondHand.lua#L161](https://github.com/pioneerspacesim/pioneer/blob/master/data/modules/SecondHand/SecondHand.lua#L161)

But a simple scheme could be done as well. Yes, take population / station size is preferable. Without having looked at the code recently, I suspect it does the righ

[2015-09-25 13:02] demolitions commented on #3456
Actually, I didn't plan to replace the current code, it already takes the system population in account, its only flaw is that it can generate 0 crew to add (ceil(0, random)), and the BBS post is added before the crew generation, this occasionally results in an empty post.
The only thing I thought worth doing was simply moving the AddAdvert call **after** the generation, and only executing it if en

[2015-09-25 13:07] impaktor commented on #3456
@demolitions sounds good to me.
We can always discuss further once you have the pull request open. If you want to play more on that file, we have: #2636, and #2408

[2015-09-25 13:42] joonicks commented on #2486
having special missions generated for a player specifically would break the concept of the bbs being independent of the player.
it would also allow the player to stagnate in a particular area instead of "going out there into the wild blue yonder"

[2015-09-25 19:24] demolitions commented on #2636
Fiddling with the CrewContracts module (in looking into https://github.com/pioneerspacesim/pioneer/issues/3456), I found out that the module has some issues with adding/removing crewmembers into its local registry, I had experienced this issue too, will look into it.

[2015-09-25 19:57] demolitions commented on #3456
Not adding the BBS post if there aren't enough generated crew introduces another bug, since the onCreateBB event is called once per station, and never again, a station that will not add the "Crew for hire" post in its first BB creation will never have a "Crew for hire" post.
I'm looking into creating it but controlling the enabled flag.

This issue is actually a nice way to get to know Pioneer's L

[2015-09-25 20:34] nozmajner commented on #3456
How about adding an entry in the advert that say there's nobody to hire? Like if it was some kind of crew hiring office, and but currently there aren't anybody looking for work?

[2015-09-25 20:40] demolitions commented on #3456
@nozmajner That's exactly what I had in mind.

[2015-09-25 20:59] joonicks commented on #2420
should be simple to make a flag say "nonrandom" you can use in the custom factions and make the system generator honour it

[2015-09-25 21:44] demolitions commented on #2636
What is the expected behaviour?
When the crewman is hired, he should disappear from the available list (does not currently).
When he is dismissed, should he return immediately on the list?

[2015-09-25 21:59] Brianetta commented on #2636
I wouldn't expect a crew member to immediately present him- or herself for hire after being dismissed. If they did, I'd expect them to be extraordinarily difficult to re-hire. In the event that they are willing to be re-hired, they should demand a pay rise.

When I first added the CrewContracts I wanted the crew to be difficult, unpredictable and human. If you messed about with them during negotia

[2015-09-25 22:24] demolitions commented on #2636
@Brianetta what you're saying explains to me the reasons of specific choices I found in the code, once dismissed the candidate returns immediately to the list, but with increased wage request, and decreased playerRelationship, which sometimes result in "your offer isn't attractive to me", but nonetheless he is added back to the list of potential candidates.

I have been able to reproduce the dupli

[2015-09-25 22:28] demolitions commented on #2636
Should I open a feature request to change the behaviour by "delaying" the return of the candidate to the list?
The current code (with or without my fix) adds the candidate back as soon as he gets dismissed.

[2015-09-25 22:33] Brianetta commented on #2636
If the candidate has neither been hired or dismissed, but has simply been interviewed by the player, they should remain on the list in the bulletin board. The bulletin board is aimed at any and all pilots visiting the station, not just the player, so should not be changed simply because the player spoke to one of them without hiring. No crew member waiting for a job will leave the list just becaus

[2015-09-25 22:40] demolitions commented on #2636
@Brianetta you're right, I was talking only about the "after being dismissed" event, not about the pre-hiring negotiation, but I failed to explain myself.

The negotiation before hiring does not remove or change any list at all, it changes only the "estimatedWage" property of the single candidate, as far as I can tell.

The candidate gets removed from the list only if he accepts the offer and tran

[2015-09-25 22:47] Brianetta commented on #2636
Well, that all sounds good. Of course, it's been a couple of years since I touched this code, so do feel free to take ownership of it . You don't need my permission to make the game better, but you have my good will anyway. (-:

[2015-09-26 08:28] impaktor commented on #2636
If the crew shows up on the "for hire" list after being dismissed it gives the player some feeling of consistency and continuation, like "hey, I fired that guy, good luck finding a job", or "damn, I don't want to hire you again", but in sure, in real life it would be some time lag before you put up an advert. It could be some random waiting time (from 0 to t) before the crew member shows up again.

[2015-09-26 09:28] impaktor commented on #2636
Answer: http://pioneerwiki.com/wiki/Crew

[2015-09-26 10:03] demolitions commented on #2636
Will brainstorm on that, I'll try to find the post in the dev forum, I could create a pull request for this fix now, I haven't been able to reproduce the issue all this morning, since it changes the same file as #3465, would it be better to wait for the other to be merged before adding this?

[2015-09-26 10:24] impaktor commented on #3456
Fixed by #3465

[2015-09-26 10:24] #3456 closed

[2015-09-26 10:35] impaktor commented on #2636
Well, it's merged now, but for the future: If it changes the same lines, but are separate fixes, then you could either open one pull request, with two commits, each fixing one issue or do one PR, wait for merge and then the next. I'd personaly go with first option, simpler and faster IMO. If you _know_ the changes are on different lines in the same file, then there shouldn't be any conflict, and y

[2015-09-26 10:44] demolitions commented on #2636
Got it, so this time I'll pull the merged code from upstream and create another pull request with this fix.

[2015-09-27 06:25] #2408 closed

[2015-09-28 20:11] #1421 closed

[2015-09-28 20:36] #2636 closed

[2015-10-01 15:00] clausimu opened #3473 "Orbit fading not working (linux, version 20150927)"
The new orbit fading does not seem to work - at least I can't see a difference to before. This is using the 20150927 version (64bit, linux).

![pioneer](https://cloud.githubusercontent.com/assets/10633178/10224326/5d959110-682b-11e5-8fc8-7985bdac1401.png)

[2015-10-01 15:06] impaktor commented on #3473
#3460 was merged after the 0927 build, so you'll have to wait a tad bit longer.

[2015-10-01 15:06] #3473 closed

[2015-10-01 15:23] fluffyfreak commented on #3459
@impaktor not optimal at _any_ resolution?

[2015-10-02 07:30] impaktor commented on #3473
@clausimu now, however, there is a new build, which should include the orbit fading, if you're eager to try it out: http://pioneerspacesim.net/download

[2015-10-02 13:06] clausimu commented on #3473
My bad - I thought I had seen in the changelog that #3460 had been included already. Thanks for pointing out the new build. I will go ahead and test it.

[2015-10-02 13:12] impaktor commented on #3473
No problems.

The Change log on the web page reflects the state of the source code in our git repo, so in this case only the changelog provided in the actual build artchive file is to be trusted.

[2015-10-02 14:52] impaktor commented on #3459
NewUI looks good (no disrespect meant regarding NewUI), but since this issue is for nitpicking, what I meant was that it's hard to get it to look _perfect_ on _all_ resolutions; on a big screen there's a lot of blank space, and on smaller ones we see the effect here reported, and text fighting for space. This is a known limitation of the NewUI, and with robn gone, I very strongly doubt anyone will

[2015-10-02 16:24] impaktor commented on #3443
OK, so the new Hombrew PR is: https://github.com/Homebrew/homebrew-games/pull/411

Given that in the past month they have 52 open PRs and 0 merged, I'm sceptical to how long it will take for them to merge it.

[2015-10-02 16:57] tomyun commented on #3443
Homebrew doesn't rely on GitHub's merge feature, instead let maintainers commit themselves after sign-off each PR, so their merge count could be quite misleading. But, it's also true that it's taking longer than usual. I guess they've been pretty busy getting ready for El Captian released this week. I'll ping them again anyways.

[2015-10-03 01:28] NicolasCARPi commented on #2954
I also have this bug.

Screen : https://i.imgur.com/1LpdikU.jpg
Output.txt : http://pastebin.com/EtsRnJMS
Opengl.txt : http://pastebin.com/z5e1RWMj

Hope this helps :)

[2015-10-03 23:56] tomyun commented on #3443
`pioneer` is now available via `homebrew-games`.

[2015-10-04 03:33] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to sexinked@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?p=eyJzIj

[2015-10-04 03:33] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to sexinked@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?p=eyJzIj

[2015-10-04 03:33] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to sexinked@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?p=eyJzIj

[2015-10-04 03:34] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to sexinked@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?p=eyJzIj

[2015-10-04 03:34] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to sexinked.cc@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?p=eyJ

[2015-10-04 03:34] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to sexinked@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?p=eyJzIj

[2015-10-04 03:34] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to sexinked.cc@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?p=eyJ

[2015-10-04 03:34] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to sexinked@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?p=eyJzIj

[2015-10-04 03:34] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to sexinked.cc@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?p=eyJ

[2015-10-04 03:34] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to sexinked.cc@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?p=eyJ

[2015-10-04 03:34] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to sexinked.cc@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?p=eyJ

[2015-10-04 03:34] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to sexinked.cc@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?p=eyJ

[2015-10-04 03:35] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to sexinked.cc@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?p=eyJ

[2015-10-04 03:35] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to sexinked.cc@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?p=eyJ

[2015-10-04 03:35] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to sexinked.cc@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?p=eyJ

[2015-10-04 03:35] mouthy75ks commented on #2548
Hello Pioneerspacesim/pioneer,
I have a new virtual assistant.
If you’re writing an important email to me, please send a copy to sexinked.cc@assistant.ai. My assistant will make sure I get your message and reply to you.
Don’t forget to save this address in your contacts.
Regards,
Michael

This message was sent to you via my Assistant — http://mandrillapp.com/track/click/30253221/assistant.ai?p=eyJ

[2015-10-04 11:05] #3443 closed

[2015-10-04 18:40] joonicks opened #3477 "hyperspace range is bugged"
![hyperbug](https://cloud.githubusercontent.com/assets/14345157/10269419/8a3d9aba-6ad7-11e5-947a-03e96851aa2e.png)
According to the formula in equipment.lua, my hyperspace range should be
625*7*7/4280 = 7.16ly
its not just a visual bug, it allowed me to make a 8.58ly jump without complaints

[2015-10-04 18:41] joonicks commented on #3477
issue comments are bugged, I wrote 620 star 7 star 7 / 4280 which comes out 625*7*7/4280
meants 625 times 7 times 7 divided by 4280

[2015-10-04 19:21] joonicks commented on #3477
found it, ship.totalMass does not include fuel (for deltav calculations I guess), but it should be included in hyperspace calcs. however I dont know if its safe to call Game.player.fuelMassLeft because calls can also be made by tradeships?

[2015-10-04 21:17] alex199568 opened #3478 "gui warning"
When I start the game on Ubuntu 14.04 I have GL_INVALID_ENUM. The game still loads and I can start a new game. I tried to install libtxc-dxtn, but this didn't help. But the gui issue is that the warning about GL_INVALID_ENUM not only prints to console, but also via messagebox every frame. Thus, to start a game I have to close hundreds of them.

[2015-10-06 18:25] joonicks opened #3480 "Undocking is called "Docking""
during undocking at an orbital space station, it displays "Docking" in the control status

[2015-10-07 10:23] fluffyfreak commented on #3458
They should always be the same. I dont mean every station manager should look like you I mean that each time you visit a place it should be the same person, each game should have the same station manager at the same station regardless of when you run the game.

It doesn't change based on time of day or anything.

[2015-10-07 10:29] fluffyfreak opened #3482 "Reports of RNG repeatability failing"
Both #3458 and [galaxy-map-problems](http://spacesimcentral.com/ssc/topic/5219-galaxy-map-problems/) show symptoms of the RNG failing to generate the same outcome on subsequent runs of the game.

[2015-10-07 10:57] impaktor commented on #3458
If faces are the same (as in clones) in the same BBS, then that would mean the RNG keeps throwing the same state. If so, it makes sense that when starting a new game in London also the player is a clone.

I'm a bit stumped as to what recent change could be causing this, because it hasn't happened before / in a long time.

[2015-10-08 15:02] joonicks commented on #2138
can confirm this still happens as of 2015-10-08
sitting next to a dsminer in london at start of new game

[2015-10-08 16:50] #3480 closed

[2015-10-08 19:37] fluffyfreak commented on #1834
I had a hack at this tonight, it's a bit of a bugger because of the way that stars are drawn.

They have a nasty static halo around them that is 8 times the radius of the Star itself but is alpha blended. This means that "they" are actually the star + halo in pixels on screen so they're nearly always visible from any distance and thus the full planet gets rendered.

[2015-10-09 14:34] impaktor commented on #3070
This used to be #3069, which was split into this one and #3071.

[2015-10-10 13:06] fluffyfreak commented on #1959
Isn't all of this available now?

There are `LuaSkin` & `LuaModel` interfaces with access to the colour, pattern, decal functions. So all that's needed is a spray-shop interface it seems.

[2015-10-10 13:30] fluffyfreak commented on #3478
Hi @alex199568 could you upload the contents of the `opengl.txt` & `output.txt` files we create when the game is run?

That should give me the information I need about your GPU etc.

[2015-10-10 13:33] fluffyfreak commented on #3449
Changed the title of this since it's the `modelcompiler` that processes models into our SGM format for faster loading, and not the built-in `pioneer -mv` option for viewing models, that is broken.

[2015-10-11 13:40] fluffyfreak commented on #3441
Ok, I discussed this briefly with JohnJ (not on GitHub?) via IRC last night and looking into this I've found several odd things.

 - The planet appears to be perfectly smooth.
 - When approaching the surfaces mullen station we are NOT in a rotating frame.
 - When dumping the frames in debug Mullen station is NOT in the frame hierarchy!?!

[2015-10-11 14:02] fluffyfreak commented on #3441
Further the player seems to be relative to `Chou's Grave` the parent and not `Chou's Grave` the body. Which I think it should be... this is all a bit confusing.

[2015-10-11 14:40] fluffyfreak commented on #3441
Ok, it seems like it never switches to the body frame from the planet one.
When approaching `New Hope` for example you will get put into the `New Hope` frame, then as you approach the surface you get put into the body's `New Hope` frame.

That doesn't happen with `Mullen Station` on `Chou's Grave` for some reason.

[2015-10-11 17:12] fluffyfreak commented on #3441
Oh FFS.

`Barren Rock` multiplies the return values by `m_maxHeight*2.0*n*n` which looks like it makes the height of the terrain some massive value.

So the usual test of how far away you are fails, because it doesn't rely on the actual height values of the terrain (expensive to get) but on the supposed radius on the planet + atmosphere or other factors.

I don't know why it was set to that yet bu

[2015-10-12 20:00] #3441 closed

[2015-10-13 01:23] walterar opened #3492 "Your photo on Personal Information"
I would put my photo here, if not very expensive. Someone wants to make this possible?

![alf](https://cloud.githubusercontent.com/assets/1334989/10443096/cbb05bb4-712f-11e5-9063-5782785b5148.png)

[2015-10-13 01:28] walterar opened #3493 "strange marriage: ground stations overlapping"
![carvertown](https://cloud.githubusercontent.com/assets/1334989/10443123/20c9254a-7130-11e5-9cf7-10aa1974c8dd.png)

Savegame here: https://dl.dropboxusercontent.com/u/15391580/Pioneer/Carver%20Town

[2015-10-13 04:19] OglahnBah opened #3494 "glLoadGen failed to load functions"
I receive this error when launching Pioneer regardless of build version. Was really hoping the latest release would fix this issue, but it doesn't. And I don't even know where to begin to troubleshoot such an error.

WinXP SP3
Intel T2600 @ 2.1GHz
2GB Ram
nVidia Quadro FX 350M 512MB

[2015-10-13 04:26] OglahnBah commented on #3494
Alternatively I would try to compile the game myself, but I'm an amateur and the "How to compile Pioneer" included with the download doesn't make very much sense to me.

[2015-10-13 07:26] impaktor commented on #3494
Looks like you only have support to openGL 2.1
You need a pre 2014-11-19 version, get it here: http://www.moddb.com/games/pioneer/downloads
as described on the [FAQ](http://pioneerwiki.com/wiki/FAQ#I.27m_getting_.22OpenGL_Version_3.1_is_not_supported._Pioneer_cannot_run_on_your_graphics_card..22_error_on_startup) where you can read more on this.

[2015-10-13 07:30] impaktor commented on #3492
Ahh, the 90s.
I guess there should be a third button then, "load face" or something?

[2015-10-13 08:06] fluffyfreak commented on #3494
Having an `nVidia Quadro FX 350M 512MB` suggest you're using a laptop which you cannot upgrade so the only way to play is to use an older version.

Of a fork of an older version of the game such as [Genesia](http://spacesimcentral.com/ssc/topic/4304-total-mod-genesia/)

[2015-10-13 08:40] impaktor commented on #3494
I wonder if it's possible to use some kind of raspberry pi setup for pioneer?

[2015-10-13 09:16] fluffyfreak commented on #3494
Yes, especially the newer rPI2, but we'd need to convert to OpenGL ES ... 2.0? or 3.0 maybe, not sure.

[2015-10-13 10:37] fluffyfreak commented on #3494
I'm reopening this issue because it occurs to me that we've had a few people with this lately and the game should be giving a clearer explanation as to why it's failing!!!

[2015-10-13 10:55] fluffyfreak commented on #3494
@impaktor I did the upgrade to OpenGL 3.x partly so that a conversion to PI2 / Arm based machines would be easier. Converting to OpenGL ES 2/3 should actually be pretty trivial now if you were interested.
The hard part was that the game used the old GL 2.0 way of doing things but ES 2.0 and GL 3.x are very similar especially the way that everything is mapped and uploaded which was the bulk of the

[2015-10-13 11:05] impaktor commented on #3494
So that would be a pi-branch of pioneer? Or would that go into master?

Either way, I don't have a pi, and I was just curious, so don't put any effort on this for my account.